<div class="client-document-sale">
    <div>
        <div>
            <div><img class="tituloDocVenta" alt="" src="../../../assets/images/docventa-cliente.png" /></div>
        </div>

        <div>
            <ion-grid [fixed]="true" class="tableClientDocumentSale">
                <!-- <ion-label> Documento Venta Cliente</ion-label> -->
                <ion-row> <!-- Tipo -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_CODOC_SALE_TYPE')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.clientLogic.documentSaleSelect.coDocumentSaleType}}</ion-col>
                </ion-row>
                <ion-row> <!-- Código Documento -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_CODOC')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.clientLogic.documentSaleSelect.coDocument}}</ion-col>
                </ion-row>
                <ion-row> <!-- Moneda -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DETAIL_MONEDA_DOC')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.clientLogic.documentSaleSelect.coCurrency}}</ion-col>
                </ion-row>
                <ion-row> <!-- Tasa -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DETAIL_TASA')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{formatNumber(this.currency.localValue)}}</ion-col>
                </ion-row>
                <ion-row> <!-- Aplicar a:-->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_NUDOC')}}</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.clientLogic.documentSaleSelect.nuDocument}}</ion-col>
                </ion-row>

                <ion-row> <!-- Fecha Doc -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_DADOC')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.clientLogic.documentSaleSelect.daDocument}}</ion-col>
                </ion-row>
                <ion-row> <!-- Fecha Venc -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_DADUEDATE')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.clientLogic.documentSaleSelect.daDueDate}}</ion-col>
                </ion-row>
                <ion-row> <!-- Dias Venc:-->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DETAIL_DIAS_VENCIMIENTO')}}</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{getDaDueDate(this.clientLogic.documentSaleSelect.daDueDate)}}</ion-col>
                </ion-row>
                <ion-row> <!-- Monto -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_NUAMOUNTTOTAL')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{formatNumber(this.clientLogic.documentSaleSelect.nuAmountTotal)}}
                        {{this.clientLogic.documentSaleSelect.coCurrency}}
                    </ion-col>
                </ion-row>
                @if(this.clientLogic.showConversion){
                <ion-row> <!-- Monto Conversion -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DETAIL_MONTO_CONVERSION')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.convertirMonto(this.clientLogic.documentSaleSelect.nuAmountTotal, this.currency.localValue,
                         this.clientLogic.documentSaleSelect.coCurrency)}} {{oppositeCoCurrency(this.clientLogic.documentSaleSelect.coCurrency)}}</ion-col>
                </ion-row>
                }
                <ion-row> <!-- Saldo -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_NUBALANCE')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{formatNumber(this.clientLogic.documentSaleSelect.nuBalance)}} 
                        {{this.clientLogic.documentSaleSelect.coCurrency}}</ion-col>
                </ion-row>
                @if(this.clientLogic.showConversion){
                <ion-row> <!-- Saldo Conversion -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DETAIL_SALDO_CONVERSION')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.convertirMonto(this.clientLogic.documentSaleSelect.nuBalance, this.currency.localValue,
                         this.clientLogic.documentSaleSelect.coCurrency)}} 
                         {{oppositeCoCurrency(this.clientLogic.documentSaleSelect.coCurrency)}}</ion-col>
                </ion-row>
                }
                <ion-row> <!-- Comentario -->
                    <ion-col class="tituloDetails" size="6" size-sm="6" size-xs="6">{{this.clientLogic.clientTags.get('CLI_DOC_SALE_TXCOMMENT')}}:</ion-col>
                    <ion-col class="ion-align-items-start" size="6" size-sm="6" size-xs="6">{{this.clientLogic.documentSaleSelect.txComment}}</ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

</div>