<ion-fab *ngIf="showFab" vertical="bottom" horizontal="end" slot="fixed" class="global-calc-fab">
  <ion-fab-button aria-label="Abrir opciones">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button class="calculator-btn" (click)="toggleCalculator()" aria-label="Abrir calculadora">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-card *ngIf="showCalculator" class="floating-calculator" role="dialog" aria-label="Calculadora">

  <ion-card-header>
    <ion-card-title class="ion-text-center">Calculadora</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row *ngIf="companies && companies.length > 1">
        <ion-col size="4">
          <ion-item lines="none">
            <ion-label>Empresa:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="8" *ngIf="companies && companies.length > 1">
          <ion-select class="listado-enterprise-selector ion-text-center" [(ngModel)]="selectedCompany"
            (ionChange)="onCompanyChange($event)" placeholder="Seleccione">
            <ion-select-option *ngFor="let e of companies" [value]="e">{{ e.lbEnterprise }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item lines="none">
            <ion-label>Tasas:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="8" *ngIf="rates && rates.length > 0">
          <ion-select class="listado-enterprise-selector ion-text-center" [(ngModel)]="selectedRates"
            (ionChange)="onRatesChange($event)" placeholder="Seleccione la(s) tasas" [multiple]="true">
            <ion-select-option *ngFor="let e of rates" [value]="e">{{ e.coConversion }} - {{ e.naConversion
              }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="scroll-calculadora ">
      <ion-row>

        <ion-col size="12">
          <ion-item [class.invalid]="baseInvalid" lines="none">
            <ion-label position="stacked">Base USD:<span class="required-star" aria-hidden="true">*</span></ion-label>
            <ion-input required type="text" [(ngModel)]="baseUSDInput" (ionInput)="onBaseInput($event)"
              inputmode="numeric" placeholder="0,00">
            </ion-input>
          </ion-item>
          <!-- Mensaje de validación -->
          <div *ngIf="baseInvalid" class="error-text" role="alert">
            La base es requerida: no puede ser 0,00.
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Porcentaje Descuento USD:</ion-label>
            <ion-input type="text" [(ngModel)]="descuentoUSDInput" (ionInput)="onDescuentoInput($event)"
              inputmode="numeric" placeholder="0.00">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Valor Tasa BCV:</ion-label>
            <ion-input type="text" [(ngModel)]="tasaBcvRate" inputmode="numeric"
              placeholder="0.00" readonly>
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" *ngFor="let r of selectedRatesValues">
          <ion-item>
            <ion-label position="stacked">Valor Tasa {{ r.naConversion }}:</ion-label>
            <ion-input type="text" [value]="r.value" readonly></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label>Calcular IVA 16%:</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="calcularIVA" (ionChange)="recalcTotals()"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size="12" *ngIf="calcularIVA">
          <ion-item>
            <ion-label position="stacked">IVA % USD:</ion-label>
            <ion-input type="text" [(ngModel)]="ivaUSDInput" (ionInput)="onIVAInput($event)" inputmode="numeric"
              placeholder="16,00" readonly>
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" *ngIf="descuentoUSD > 0">
          <ion-item>
            <ion-label position="stacked">Total Descuento USD:</ion-label>
            <ion-input type="number" [(ngModel)]="descuentoUSD" (ionChange)="recalcTotals()" placeholder="0.00"
              readonly></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" *ngIf="calcularIVA">
          <ion-item>
            <ion-label position="stacked">Total IVA USD:</ion-label>
            <ion-input type="text" [value]="formatCurrencyLocale(totalIVAUSD)" readonly></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" *ngIf="baseUSD > 0">
          <ion-item>
            <ion-label position="stacked">Total USD:</ion-label>
            <ion-input type="text" [value]="formatCurrencyLocale(totalUSD)" readonly></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Total BCV:</ion-label>
            <ion-input type="text" [value]="formatCurrencyLocale(totalTasaBCV)" readonly></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" *ngFor="let r of selectedRates">
          <ion-item>
            <ion-label position="stacked">Total Tasa {{ r.coConversion }}:</ion-label>
            <ion-input type="text" [value]="formatCurrencyLocale(computeConvertedTotal(r))" readonly></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <div class="calc-actions">
            <ion-button expand="block" class="botonAddLila" (click)="closeCalculator()">Cerrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card-content>
</ion-card>