package-lock.json
.vscode/settings.json
DenarioPremiunMovil/package-lock.json
DenarioPremiunMovil/query
DenarioPremiunMovil/android_backup/res/drawable/splash.png
DenarioPremiunMovil/android_backup/res/drawable-land-hdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-land-mdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-land-xhdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-land-xxhdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-land-xxxhdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-port-hdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-port-mdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-port-xhdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-port-xxhdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-port-xxxhdpi/splash.png
DenarioPremiunMovil/android_backup/res/drawable-v24/ic_launcher_foreground.xml
DenarioPremiunMovil/android_backup/res/layout/activity_main.xml
DenarioPremiunMovil/android_backup/res/mipmap-anydpi-v26/ic_launcher.xml
DenarioPremiunMovil/android_backup/res/mipmap-anydpi-v26/ic_launcher_round.xml
DenarioPremiunMovil/android_backup/res/mipmap-hdpi/ic_launcher.png
DenarioPremiunMovil/android_backup/res/mipmap-hdpi/ic_launcher_foreground.png
DenarioPremiunMovil/android_backup/res/mipmap-hdpi/ic_launcher_round.png
DenarioPremiunMovil/android_backup/res/mipmap-mdpi/ic_launcher.png
DenarioPremiunMovil/android_backup/res/mipmap-mdpi/ic_launcher_foreground.png
DenarioPremiunMovil/android_backup/res/mipmap-mdpi/ic_launcher_round.png
DenarioPremiunMovil/android_backup/res/mipmap-xhdpi/ic_launcher.png
DenarioPremiunMovil/android_backup/res/mipmap-xhdpi/ic_launcher_foreground.png
DenarioPremiunMovil/android_backup/res/mipmap-xhdpi/ic_launcher_round.png
DenarioPremiunMovil/android_backup/res/mipmap-xxhdpi/ic_launcher.png
DenarioPremiunMovil/android_backup/res/mipmap-xxhdpi/ic_launcher_foreground.png
DenarioPremiunMovil/android_backup/res/mipmap-xxhdpi/ic_launcher_round.png
DenarioPremiunMovil/android_backup/res/mipmap-xxxhdpi/ic_launcher.png
DenarioPremiunMovil/android_backup/res/mipmap-xxxhdpi/ic_launcher_foreground.png
DenarioPremiunMovil/android_backup/res/mipmap-xxxhdpi/ic_launcher_round.png
DenarioPremiunMovil/android_backup/res/values/ic_launcher_background.xml
DenarioPremiunMovil/android_backup/res/values/strings.xml
DenarioPremiunMovil/android_backup/res/values/styles.xml
DenarioPremiunMovil/android_backup/res/xml/config.xml
DenarioPremiunMovil/android_backup/res/xml/file_paths.xml
/Config/
/Config/createAPK_macos.sh
/Config/createAPK_windows.bat
**/android/keystore.properties
claves.env
DenarioPremiunMovil/claves.env
GoogleService-Info.plist
DenarioPremiunMovil/angular.json
DenarioPremiunMovil/ios/
!DenarioPremiunMovil/ios/
!DenarioPremiunMovil/ios/App/
!DenarioPremiunMovil/ios/App/App/
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/AppIcon.appiconset/
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
!DenarioPremiunMovil/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
DenarioPremiunMovil/android/app/src/main/res/xml/network_security_config.xml
