.inp-write{
  --border-color: #e60c0c!important;
}
// .inp-write2{
//   border: 1px solid #e60c0c!important;
// }
.listado-enterprise-selector, .listado-tps-selector{
  text-align: center!important;
  border: 1px solid #9c9c9c;
  border-radius: 25px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  margin-bottom: 2px;
}

.paddingPedidosTotal .hydrated {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
}

.paddingPedidosTotal {
  font-size: 12px;
}
.paddingPedidosTotal .paddingLefttotal {
  padding-left: 0;
}

.listado-enterprise-selector .select-ico, .listado-tps-selector .select-icon{
  display: none!important;
}
.listado-tps-selector .select-icon{
  margin-top: 10px!important;
}

.select-icon {
    margin-top: 10px!important;
 }

 ion-modal#eventModal3 {
   --width: 90%;
   --min-width: 250px;
   --height: fit-content;
   --border-radius: 6px;
   --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
 }
 ion-modal#eventModal3 .contenedorModalActividades{
   padding: 5%;
 }
 ion-modal#eventModal3 h1 {
   margin: 20px 20px 10px 20px;
 }
 ion-modal#eventModal3 .wrapper {
   margin-bottom: 10px;
 }

 .fondoVerde {
    background: #59b02d;
    --background: #59b02d;
    color: #fff !important;
}

.text-red { color: #c0392b !important; }
.text-green { color: #59b02d !important; }

.titulototalesPedidos{
    font-size: 16px;
}
.pdf-button-green {
  --background: #59b02d;
  --background-activated: #4f9a27;
  --background-focused: #4f9a27;
}
