ion-content {
    --background: transparent;
}

.cobro-tab-pagos {
    display: block;
    width: 100%;
}

body {
    background: transparent;
}

ion-modal#eventModal .contenedorModalActividades {
    padding: 5%;
}



