<ion-item-divider sticky>
    <div class="cobroComponent" sticky-below-view>
        <ion-segment value="default" [(ngModel)]="segment" scrollable>
            <ion-segment-button value="default" (click)="onChangeTab(segment)">
                <ion-label>{{this.collectService.collectionTags.get('COB_PESTANA_GENERAL')}}</ion-label>
            </ion-segment-button>

            <!-- SI ES ANTICIPO OCULTO DOCUMENTOS -->
            @if (!this.collectService.hideDocuments) {
                <ion-segment-button value="documentos" [disabled]="!collectValidTabsLocal"
                    (click)="onChangeTab(segment)">
                    <ion-label> {{this.collectService.collectionTags.get('COB_PESTANA_DOCUMENTOS')}}</ion-label>
                </ion-segment-button>
            }

            <!-- SI ES RETENCION OCULTO PAGOS -->
            @if (!this.collectService.hidePayments) {
                <ion-segment-button value="pagos" [disabled]="!collectValidTabsLocal"
                    (click)="onChangeTab(segment)">
                    <ion-label>{{this.collectService.collectionTags.get('COB_PESTANA_PAGOS')}}</ion-label>
                </ion-segment-button>
            }

            <ion-segment-button value="total" [disabled]="!collectValidTabsLocal" (click)="onChangeTab(segment)">
                <ion-label>{{this.collectService.collectionTags.get('COB_PESTANA_TOTAL')}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="adjuntos" [disabled]="!collectValidTabsLocal" (click)="onChangeTab(segment)">
                <ion-label>{{this.collectService.collectionTags.get('COB_PESTANA_ADJUNTOS')}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-item-divider>

<div [ngSwitch]="segment">
    <!-- Pestana General-->
    <ion-card *ngSwitchCase="'default'">
        <app-cobro-general></app-cobro-general>
    </ion-card>

    <!-- Pestana documentos-->
    <ion-card *ngSwitchCase="'documentos'">
        <app-cobro-documents></app-cobro-documents>
    </ion-card>

    <!-- Pestana Pagos-->
    <ion-grid *ngSwitchCase="'pagos'">
        <app-cobro-pagos></app-cobro-pagos>
    </ion-grid>

    <!-- Pestana Total -->
    <ion-card *ngSwitchCase="'total'">
        <app-cobro-total></app-cobro-total>
    </ion-card>

    <!-- Pestana Adjuntos -->
    <ion-card *ngSwitchCase="'adjuntos'">
        <ion-card-content>
            <app-adjunto #selectorAdjunto></app-adjunto>
        </ion-card-content>
    </ion-card>

    <!-- Modal de seleccionar fecha -->
    <ion-modal [keepContentsMounted]="true" class="fechasModal">
        <ng-template>
            <ion-datetime id="datetime" presentation="date" [(ngModel)]="fecha"
                (ngModelChange)="getDate()"></ion-datetime>
        </ng-template>
    </ion-modal>
</div>
