<div class="listado-product-structures" *ngIf="productStructures">

  <ion-grid>
    <ion-row>
      <ion-col class="contadoresIcon" size="12" size-sm="12" size-xs="12">
        <ion-tab-bar class="fondoVerde">
          <ion-tab-button tab="1" (click)="onFavoriteProductSelected();">
            <ion-icon name="heart"></ion-icon>
            <ion-label>{{favoriteButtonLabel}}</ion-label>
            <ion-badge color="danger">{{ favoriteButtonCount }}</ion-badge>
          </ion-tab-button>

          @if(featuredProducts) {
          <ion-tab-button tab="2" (click)="onFeaturedProductSelected()">
            <ion-icon name="star"></ion-icon>
            <ion-label>{{featuredButtonLabel}}</ion-label>
            <ion-badge color="danger">{{ featuredButtonCount }}</ion-badge>
          </ion-tab-button>
          }
          @if(pedido){
          <ion-tab-button tab="3" (click)="onCartSelected();">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Carrito</ion-label>
            <ion-badge color="danger">{{ this.orderServ.carrito.length }}</ion-badge>
          </ion-tab-button> }

        </ion-tab-bar>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col class="" size="12" size-sm="12" size-xs="12">
        <!--  Un Selector de tipos de estrucutras, por defecto el nivel mas bajo -->
        <div class="listado-tps-selector ion-text-center">
          <ion-select [(ngModel)]="tpsSeleccionada" (ionChange)="onTypeProductStructureChanged($event)"
            [compareWith]="tpsCompare" *ngIf="productStructures" class="ion-text-center" interface="popover"
            labelPlacement="stacked">
            <ion-select-option *ngFor="let tps of typeProductStructureList" [value]="tps">{{ tps.naTypeProductStructure
              }}</ion-select-option>
          </ion-select>
        </div>
      </ion-col>

      <!--  Listado clickeable de estructuras que dependen de los selectores anteriores -->
      <ion-col class="margin-top-List" size="12" size-sm="12" size-xs="12">
        <div class="product-structure-scroll">
          <div class="product-structure-card">
            <ion-list *ngFor="let ps of productStructureList; index as i" (click)="onProductStructureSelected(ps)"
              lines="full">
              <div class="product-structure-title listaProductos">
                <!-- <ion-item button detail="true" *ngIf="i<10*indice"> -->
                <ion-item button detail="false" class="listaItems">
                  <ion-label class="heightList">
                    <h3 class="font-ListProduct">{{ ps.naProductStructure }} </h3>
                  </ion-label>
                  <ion-note slot="end"><ion-icon class="icon-List" name="chevron-forward-outline"></ion-icon></ion-note>

                  <ion-badge>{{ ps.quProducts }}</ion-badge>
                </ion-item>

              </div>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content loadingText="Por favor espere..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll> -->

    </ion-row>
  </ion-grid>
</div>
