<div class="listado-product-structures" *ngIf="productStructures">

  <ion-button *ngIf="devolucion" fill="outline" size="small" class="colorBorderBuscar" shape="round"
    (click)="onReturnProductTab()">
    {{this.productsTabTags.get('PROD_VOLVER')}}
    <ion-icon class="colorIconBuscar" slot="start" name="arrow-back-circle-sharp"></ion-icon>
  </ion-button>

  <ion-grid>
    <ion-row>
      
    

      <ion-col class="" size="12" size-sm="12" size-xs="12" >
      <ion-tab-bar color="light">
  <ion-tab-button tab="1">
    <ion-icon name="heart"></ion-icon>
    <ion-label>Favoritos</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <ion-tab-button tab="2">
    <ion-icon name="star"></ion-icon>
    <ion-label>Destacados</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="3" *ngIf="pedido">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-label>Carrito</ion-label>
    <ion-badge color="danger">456</ion-badge>
  </ion-tab-button>
</ion-tab-bar>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col class="" size="12" size-sm="12" size-xs="12">
        <!--  Un Selector de tipos de estrucutras, por defecto el nivel mas bajo -->
        <div class="listado-tps-selector ion-text-center">
          <ion-select [(ngModel)]="tpsSeleccionada" (ionChange)="onTypeProductStructureChanged($event)"
          [compareWith]="tpsCompare"
            *ngIf="productStructures" class="ion-text-center" interface="popover" labelPlacement="stacked">
            <ion-select-option *ngFor="let tps of typeProductStructureList" [value]="tps" >{{ tps.naTypeProductStructure
              }}</ion-select-option>
          </ion-select>
        </div>
      </ion-col>

      <!--  Listado clickeable de estructuras que dependen de los selectores anteriores -->
      <ion-col class="margin-top-List" size="12" size-sm="12" size-xs="12">
        <div class="product-structure-scroll">
          <div class="product-structure-card">
            <ion-list *ngFor="let ps of productStructureList; index as i" (click)="onProductStructureSelected(ps)"
              lines="full">
              <div class="product-structure-title listaProductos">
                <!-- <ion-item button detail="true" *ngIf="i<10*indice"> -->
                <ion-item button detail="false" class="listaItems">
                  <ion-label class="heightList">
                    <h3 class="font-ListProduct">{{ ps.naProductStructure }} </h3>
                  </ion-label>
                  <ion-note slot="end"><ion-icon class="icon-List" name="chevron-forward-outline"></ion-icon></ion-note>

                  <ion-badge>{{ ps.quProducts }}</ion-badge>
                </ion-item>

              </div>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content loadingText="Por favor espere..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll> -->

    </ion-row>
  </ion-grid>
</div>