<div class="listado-product-structures" *ngIf="showProductList">

  <!--  Listado clickeable de productos  -->
  <div class="product-card cardProduct product-structure-scroll ion-content-scroll-host">
    @if(noProductsAlertShown){
    <p class="search-empty-state ion-text-center">
      {{this.productsTabTags.get("DENARIO_SIN_RESULTADOS")}}
    </p>
    }
    <ion-list class="espacioListasProductos">
      @for(product of productList; track product.idProduct; let i = $index){
      <div class="product-structure-title" (click)="onSelectProductDev(product)">
        <!-- <ion-item button detail="true" *ngIf="i<10*indice"> -->
        <ion-item button detail="false">
          <ion-label fixed class="fixedLabel contenedorImgMargin">
            <ion-img class="productImage" alt="" loading="lazy"
              [src]="product.coProduct ? (imageServices.getImgForProduct(product.coProduct) ?? '../../../assets/images/nodisponible.png') : '../../../assets/images/nodisponible.png'">
            </ion-img>
          </ion-label>
          <ion-label class="textList espaciotextoListaProduc">
            <p class="espacioentrelineas">{{ product.naProduct }}</p>
            <p class="espacioentrelineas">{{this.productsTabTags.get('PROD_COD_PROD')}}: {{ product.coProduct }}</p>
          </ion-label>
          <ion-note slot="end"><ion-icon class="icon-List2" name="chevron-forward-outline"></ion-icon></ion-note>
        </ion-item>
      </div>
      }
    </ion-list>
     <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Por favor espere..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</div>
