<div class="cobroComponent" sticky-below-view>
    <ion-segment value="default" [(ngModel)]="segment" scrollable>
        <ion-segment-button value="default" (click)="onChangeTab(segment)">
            <ion-label>{{this.inventariosLogicService.inventarioTags.get('INV_GENERAL_TAB')}}</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngIf="this.inventariosLogicService.hideTab" value="inventario" [disabled]="!stockValid" (click)="onChangeTab(segment)">
            <ion-label>{{this.inventariosLogicService.inventarioTags.get('INV_INVENTARIO_TAB')}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="actividades" [disabled]="!stockValid" (click)="onChangeTab(segment)">
            <ion-label>{{this.inventariosLogicService.inventarioTags.get('INV_ACTIVIDADES_TAB')}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="adjuntos" [disabled]="!stockValid" (click)="onChangeTab(segment)">
            <ion-label>{{this.inventariosLogicService.inventarioTags.get('INV_ADJUNTOS_TAB')}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</div>

<div [ngSwitch]="segment">
    <!-- Pestana General-->
    <ion-grid>
      <ion-row>
        <ion-col size="8" size-md="8" offset-md="2" size-sm="12" size-xs="12">
          <div *ngSwitchCase="'default'">
              <div>
                  <app-inventario-general></app-inventario-general>
              </div>
          </div>

          <!-- Pestana inventario-->
          <div *ngSwitchCase="'inventario'">
              <div>
                  <app-inventario-inventario></app-inventario-inventario>
              </div>
          </div>

          <!-- Pestana actividades-->
          <div *ngSwitchCase="'actividades'">
              <div>
                  <app-inventario-actividades></app-inventario-actividades>
              </div>
          </div>

          <!-- Pestana Adjuntos -->
          <div *ngSwitchCase="'adjuntos'">
              <div>
                  <app-adjunto #selectorAdjunto></app-adjunto>
              </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

</div>
