<!-- SI ES DISTINTO A RETENCION -->
@if (this.collectService.coTypeModule != '2') {
<div>
  <!-- SI ES DISTINTO A ANTICIPO -->
  @if (this.collectService.coTypeModule != '1') {
  <div>
    <!-- SOLO SI ES COBRO O IGTF APLICAN TODOS LOS CAMPOS -->
    <!--         <ion-grid [fixed]="true"> -->
    <ion-grid [fixed]="true">
      <!-- IGTF -->
      @if (shouldShowTotalizationIgtfSummary()) {
      <ion-row>
        <ion-col size="4" class="titulosBold">{{this.collectService.collectionTags.get('COB_IGTF_LABEL')}}
          {{this.collectService.collection.coCurrency}}</ion-col>
        <ion-col>{{formatTotalizationAmount(this.collectService.montoIgtf)}}</ion-col>
      </ion-row>
      }

      @if (this.collectService.multiCurrency && this.collectService.showConversion && shouldShowTotalizationIgtfSummary()) {
      <ion-row>
        <ion-col size="4" class="titulosBold">{{this.collectService.collectionTags.get('COB_IGTF_LABEL')}}
          {{this.collectService.currencyConversion.coCurrency}}</ion-col>
        <ion-col>{{formatTotalizationAmount(this.collectService.convertirMonto(this.collectService.montoIgtf,this.collectService.collection.nuValueLocal,
          this.collectService.collection.coCurrency))}}
        </ion-col>
      </ion-row>
      }
      <!-- IGTF -->

      <!-- MONTO TOTAL -->
      <ion-row>
        <ion-col size="4" class="titulosBold">{{this.collectService.collectionTags.get('COB_MONTO_TOTAL_PAGAR')}}
          {{this.collectService.collection.coCurrency}}
        </ion-col>
        <ion-col>{{this.currencyService.formatNumber(this.collectService.montoTotalPagar)}}</ion-col>
      </ion-row>

      @if (this.collectService.multiCurrency && this.collectService.showConversion) {
      <ion-row>
        <ion-col size="4" class="titulosBold">{{this.collectService.collectionTags.get('COB_MONTO_TOTAL_PAGAR')}}
          {{this.collectService.currencyConversion.coCurrency}}
        </ion-col>
        <ion-col>{{this.currencyService.formatNumber(this.collectService.montoTotalPagarConversion)}}
        </ion-col>
      </ion-row>
      }
      <!-- MONTO TOTAL -->

      <!-- TASA -->
      @if (this.collectService.multiCurrency && this.collectService.showConversion) {
      <ion-row>
        <ion-col size="4" class="titulosBold">{{this.collectService.collectionTags.get('COB_TASA')}}
          {{this.collectService.currencyConversion.coCurrency}}
        </ion-col>
        <ion-col>{{this.currencyService.formatNumber(this.collectService.collection.nuValueLocal)}}</ion-col>
      </ion-row>
      }
      <!-- TASA -->

      <!-- PAGO -->
      <ion-row>
        <ion-col size="4" class="titulosBold">{{this.collectService.collectionTags.get('COB_PAGO')}}
          {{this.collectService.collection.coCurrency}}
        </ion-col>
        <ion-col>{{this.currencyService.formatNumber(this.collectService.montoTotalPagado)}}</ion-col>
      </ion-row>

      @if (this.collectService.multiCurrency && this.collectService.showConversion) {
      <ion-row>
        <ion-col size="4" class="titulosBold">{{this.collectService.collectionTags.get('COB_PAGO')}}
          {{this.collectService.currencyConversion.coCurrency}}
        </ion-col>
        <ion-col>{{this.currencyService.formatNumber(
          this.collectService.montoTotalPagadoConversion
          )}}
        </ion-col>
      </ion-row>
      }
      <!-- PAGO -->

      <!-- DIFERENCIA -->
      <ion-row>
        <ion-col size="4" class="titulosBold">
          {{this.collectService.collectionTags.get('COB_DIFERENCIA')}}
          {{this.collectService.collection.coCurrency}}
        </ion-col>
        <ion-col [ngStyle]="{color: this.collectService.collection.nuDifference >=0 ? 'Blue' : 'Red' }">
          {{this.currencyService.formatNumber(
          this.collectService.collection.nuDifference
          )}}
        </ion-col>
      </ion-row>

      @if (this.collectService.multiCurrency && this.collectService.showConversion) {
      <ion-row>
        <ion-col size="4" class="titulosBold">
          {{this.collectService.collectionTags.get('COB_DIFERENCIA')}}
          {{this.collectService.currencyConversion.coCurrency}}
        </ion-col>

        <!-- CASO QUE TENGAMOS UN DOC CON SALDO NEGATIVO, Y CON TASAS DISTINTAS -->
        <!-- <ion-col condicionado cuando no se calcula diferencia -->
        <ion-col [ngStyle]="{color: this.collectService.collection.nuDifference >=0 ? 'Blue' : 'Red' }">
          {{this.currencyService.formatNumber(
          this.collectService.collection.nuDifferenceConversion
          )}}
        </ion-col>
        <!-- CASO QUE TENGAMOS UN DOC CON SALDO NEGATIVO, Y CON TASAS DISTINTAS -->
      </ion-row>
      }
      <!-- DIFERENCIA -->
    </ion-grid>

    @if (this.collectService.collection.collectionDetails.length > 0) {
    <ion-grid class="tablaInfo tablaDocVentasGrip tablaInfoClientes">
      <ion-row class="ion-text-nowrap tablaDocVentas row cabecera">
        <ion-col class="titulosBold col borderSuperiorIzquierdo"
          size="4">{{this.collectService.collectionTags.get('COB_TIPO')}}</ion-col>
        <ion-col class="titulosBold col" size="7">{{this.collectService.collectionTags.get('COB_NRO_DOC')}}</ion-col>
        <ion-col class="titulosBold col" size="4">{{this.collectService.collectionTags.get('COB_MONTO_DOC')}}</ion-col>
        @if (hasTotalizationColumnAmount('discount')) {
        <ion-col class="titulosBold col" size="4">{{this.collectService.collectionTags.get('COB_DEV_FALT')}}</ion-col>
        }
        @if (usesDynamicRetentionTotalization()) {
        @for (retentionCol of getTotalizationRetentionColumns(); track retentionCol.idCollectRetention) {
        @if (hasDynamicRetentionColumnAmount(retentionCol.idCollectRetention)) {
        <ion-col class="titulosBold col" size="4">{{retentionCol.label}}</ion-col>
        }
        }
        } @else {
        @if (hasTotalizationColumnAmount('retentionIva')) {
        <ion-col class="titulosBold col"
          size="4">{{this.collectService.collectionTags.get('COB_IVA_RETENTION')}}</ion-col>
        }
        @if (!this.collectService.isRetention && hasTotalizationColumnAmount('retentionIslr')) {
        <ion-col class="titulosBold col" size="4">
          {{this.collectService.collectionTags.get('COB_ISLR_RETENTION')}}
        </ion-col>
        }
        }
        @if (this.collectService.shouldDisplayIgtfInTotals() && hasTotalizationColumnAmount('igtf')) {
        <ion-col class="titulosBold col" size="4">
          {{this.collectService.collectionTags.get('COB_IGTF_LABEL')}}
        </ion-col>
        }
        @if(this.collectService.userCanSelectCollectDiscount && hasTotalizationColumnAmount('collectDiscount')){
        <ion-col class="titulosBold col" size="4">
          {{this.collectService.collectionTags.get('COB_DESC')}}
        </ion-col>
        }
        <ion-col class="titulosBold col borderSuperiorDerecho"
          size="4">{{this.collectService.collectionTags.get('COB_MONTO_PAGO')}}</ion-col>
      </ion-row>

      @for (collectionDetails of this.collectService.collection.collectionDetails; track $index; let i = $index) {
      @let detailPayment = this.collectService.resolveCollectionDetailPaymentDisplay(collectionDetails);
      <ion-row class="tabladocumentSalesVenta tablaDocVentas row">
        <ion-col class="ion-text-center col borderInferiorIzquierdo" size="4">{{collectionDetails.coTypeDoc}}</ion-col>
        <ion-col class="ion-text-center col" size="7">
          {{collectionDetails.coDocument}}</ion-col>
        <ion-col class="ion-text-center col"
          size="4">{{this.currencyService.formatNumber(collectionDetails.nuAmountDoc)}}</ion-col>
        @if (hasTotalizationColumnAmount('discount')) {
        <ion-col class="ion-text-center col"
          size="4">{{formatTotalizationAmount(collectionDetails.nuAmountDiscount)}}</ion-col>
        }
        @if (usesDynamicRetentionTotalization()) {
        @for (retentionCol of getTotalizationRetentionColumns(); track retentionCol.idCollectRetention) {
        @if (hasDynamicRetentionColumnAmount(retentionCol.idCollectRetention)) {
        <ion-col class="ion-text-center col" size="4">
          {{formatTotalizationAmount(getDetailDynamicRetentionAmount(collectionDetails, retentionCol.idCollectRetention))}}
        </ion-col>
        }
        }
        } @else {
        @if (hasTotalizationColumnAmount('retentionIva')) {
        <ion-col class="ion-text-center col" size="4">
          {{formatTotalizationAmount(collectionDetails.nuAmountRetention)}}
        </ion-col>
        }
        @if (!this.collectService.isRetention && hasTotalizationColumnAmount('retentionIslr')) {
        <ion-col class="ion-text-center col" size="4">
          {{formatTotalizationAmount(collectionDetails.nuAmountRetention2)}}
        </ion-col>
        }
        }
        @if (this.collectService.shouldDisplayIgtfInTotals() && hasTotalizationColumnAmount('igtf')) {
        <ion-col class="ion-text-center col" size="4">
          {{formatTotalizationAmount(detailPayment.igtfAmount)}}
        </ion-col>
        }
        @if(this.collectService.userCanSelectCollectDiscount && hasTotalizationColumnAmount('collectDiscount')){
        <ion-col class="ion-text-center col" size="4">
          {{formatTotalizationAmount(collectionDetails.nuAmountCollectDiscount)}}
        </ion-col>
        }
        <ion-col class="ion-text-center col borderInferiorDerecho" size="4">
          {{this.currencyService.formatNumber(detailPayment.amountToPay)}}</ion-col>
      </ion-row>
      }
    </ion-grid>
    }
  </div>
  }

  <ion-accordion-group>

    <!-- EFECTIVO -->
    @if (this.collectService.pagoEfectivo.length > 0) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label> {{this.collectService.collectionTags.get('COB_TOTAL_EFECTIVO')}}:
          <p>{{this.collectService.collection.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.totalEfectivo)}}</p>
          @if (this.collectService.showConversion) {
          <p>
            {{this.collectService.currencyConversion.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.convertirMonto(
            this.collectService.totalEfectivo,0,this.collectService.collection.coCurrency))}}
          </p>
          }
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        @for (efectivo of this.collectService.pagoEfectivo; track $index) {
        <ion-list>
          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.collection.coCurrency}}:
              {{this.currencyService.formatNumber(efectivo.monto)}}
            </ion-label>
          </ion-item>
          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.currencyConversion.coCurrency}}:
              {{this.currencyService.formatNumber(efectivo.montoConversion)}}
            </ion-label>
          </ion-item>
          }

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_LABEL_NRO_RECIBO')}}:
              {{efectivo.nuRecibo}}
            </ion-label>
          </ion-item>
        </ion-list>
        }
      </div>
    </ion-accordion>
    }
    <!-- EFECTIVO -->

    <!-- CHEQUE -->
    @if (this.collectService.pagoCheque.length > 0) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label> {{this.collectService.collectionTags.get('COB_TOTAL_CHEQUES')}}:
          <p>{{this.collectService.collection.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.totalCheque)}}</p>
          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <p>
            {{this.collectService.currencyConversion.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.convertirMonto(this.collectService.totalCheque,0,this.collectService.collection.coCurrency))}}
          </p>
          }
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        @for (cheque of this.collectService.pagoCheque; track $index) {
        <ion-list>
          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_BANCO_EMISOR')}}:
              {{cheque.nombreBanco}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_FECHA')}}:
              {{cheque.fecha.split("T")[0]}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}:
              {{this.collectService.collection.coCurrency}}
              {{this.currencyService.formatNumber(cheque.monto)}}</ion-label>
          </ion-item>

          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.currencyConversion.coCurrency}}:
              {{this.currencyService.formatNumber(cheque.montoConversion)}}
            </ion-label>
          </ion-item>
          }

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_FECHA_VALOR')}}:
              {{cheque.fechaValor.split("T")[0]}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_NRO_CHEQUE')}}:
              {{cheque.numeroCheque}}</ion-label>
          </ion-item>
        </ion-list>
        }
      </div>
    </ion-accordion>
    }
    <!-- CHEQUE -->

    <!-- DEPOSITO -->
    @if (this.collectService.pagoDeposito.length > 0) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label> {{this.collectService.collectionTags.get('COB_TOTAL_DEPOSITOS')}}:
          <p>{{this.collectService.collection.coCurrency}} {{this.collectService.totalDeposito}}</p>
          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <p>
            {{this.collectService.currencyConversion.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.convertirMonto(this.collectService.totalDeposito,0,this.collectService.collection.coCurrency))}}
          </p>
          }
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        @for (deposito of this.collectService.pagoDeposito; track $index) {
        <ion-list>
          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_BANCO_RECEPTOR')}}:
              {{deposito.nombreBanco}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_NRO_DEPOSITO')}}:
              {{deposito.numeroDeposito}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}:
              {{this.collectService.collection.coCurrency}}
              {{this.currencyService.formatNumber(deposito.monto)}} </ion-label>
          </ion-item>

          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.currencyConversion.coCurrency}}:
              {{this.currencyService.formatNumber(deposito.montoConversion)}}
            </ion-label>
          </ion-item>
          }

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_FECHA')}}:
              {{deposito.fecha.split("T")[0]}}</ion-label>
          </ion-item>
        </ion-list>
        }
      </div>
    </ion-accordion>
    }
    <!-- DEPOSITO -->

    <!-- TRANSFERENCIA -->
    @if (this.collectService.pagoTransferencia.length > 0) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label> {{this.collectService.collectionTags.get('COB_TOTAL_TRANSFERENCIAS')}}:
          <p>{{this.collectService.collection.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.totalTransferencia)}}</p>
          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <p>
            {{this.collectService.currencyConversion.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.convertirMonto(this.collectService.totalTransferencia,0,this.collectService.collection.coCurrency))}}
          </p>
          }
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        @for (transferencia of this.collectService.pagoTransferencia; track $index) {
        <ion-list>
          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_BANCO_RECEPTOR')}}:
              {{transferencia.nombreBanco}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_NRO_REFERENCIA')}}:
              {{transferencia.numeroTransferencia}}
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}:
              {{this.collectService.collection.coCurrency}}
              {{this.currencyService.formatNumber(transferencia.monto)}}</ion-label>
          </ion-item>

          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.currencyConversion.coCurrency}}:
              {{this.currencyService.formatNumber(transferencia.montoConversion)}}
            </ion-label>
          </ion-item>
          }

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_FECHA')}}:
              {{transferencia.fecha.split("T")[0]}}</ion-label>
          </ion-item>
        </ion-list>
        }
      </div>
    </ion-accordion>
    }
    <!-- TRANSFERENCIA -->

    <!-- PAGO MOVIL -->
    @if (this.collectService.pagoMovil.length > 0) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label> {{this.collectService.collectionTags.get('COB_TOTAL_PAGO_MOVIL') || 'TOTAL PAGO MOVIL'}}:
          <p>{{this.collectService.collection.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.totalPagoMovil)}}</p>
          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <p>
            {{this.collectService.currencyConversion.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.convertirMonto(this.collectService.totalPagoMovil,0,this.collectService.collection.coCurrency))}}
          </p>
          }
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        @for (pagoMovil of this.collectService.pagoMovil; track $index) {
        <ion-list>
          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_BANCO_EMISOR')}}:
              {{pagoMovil.nombreBancoEmisor}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_BANCO_RECEPTOR')}}:
              {{pagoMovil.nombreBancoDestino}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Tipo Documento: {{pagoMovil.tipoDocumento}}-{{pagoMovil.numeroDocumento}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Telefono: {{pagoMovil.codigoTelefono}} {{pagoMovil.numeroTelefono}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_NRO_REFERENCIA')}}:
              {{pagoMovil.numeroReferencia}}
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}:
              {{this.collectService.collection.coCurrency}}
              {{this.currencyService.formatNumber(pagoMovil.monto)}}
            </ion-label>
          </ion-item>

          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.currencyConversion.coCurrency}}:
              {{this.currencyService.formatNumber(pagoMovil.montoConversion)}}
            </ion-label>
          </ion-item>
          }

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_FECHA')}}:
              {{pagoMovil.fecha.split("T")[0]}}</ion-label>
          </ion-item>
        </ion-list>
        }
      </div>
    </ion-accordion>
    }

    <!-- OTROS -->
    @if (this.collectService.pagoOtros.length > 0) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label> {{this.collectService.collectionTags.get('COB_TOTAL_OTROS')}}:
          <p>{{this.collectService.collection.coCurrency}}
            {{this.currencyService.formatNumber(this.collectService.totalOtros)}}</p>
          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <p>
            {{this.collectService.collection.coCurrencyConversion}}
            {{this.currencyService.formatNumber(this.collectService.convertirMonto(this.collectService.totalOtros,0,this.collectService.collection.coCurrency))}}
          </p>
          }
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">

        @for (otros of this.collectService.pagoOtros; track $index) {
        <ion-list>

          <ion-item>
            <ion-label>{{this.collectService.collectionTags.get('COB_OTROS_NOMBRE')}}: {{otros.nombre}}
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.collection.coCurrency}}:
              {{this.currencyService.formatNumber(otros.monto)}}
            </ion-label>
          </ion-item>
          @if (this.collectService.multiCurrency && this.collectService.showConversion) {
          <ion-item>
            <ion-label>
              {{this.collectService.collectionTags.get('COB_MONTO')}}
              {{this.collectService.currencyConversion.coCurrency}}:
              {{this.currencyService.formatNumber(otros.montoConversion)}}
            </ion-label>
          </ion-item>
          }

        </ion-list>
        }
      </div>
    </ion-accordion>
    }
    <!-- OTROS -->
  </ion-accordion-group>

  <ion-item>
    <ion-label>{{this.collectService.collectionTags.get('COB_TOTAL_GENERAL')}}
      {{this.collectService.collection.coCurrency}}:
      {{this.currencyService.formatNumber(this.collectService.collection.nuAmountTotal)}}
    </ion-label>
  </ion-item>
  <!-- <ion-button (click)="imprimir()"></ion-button> -->

</div>
}

<!-- RETENCION -->
@if (this.collectService.coTypeModule == '2') {
<div>
  @if (this.collectService.collection.stDelivery == this.COLLECT_STATUS_SENT && this.collectService.userCanAddRetention) {
  <ion-button (click)="addRetencion()" size="small" fill="outline" expand="block">
    {{this.collectService.collectionTags.get('COB_ADD_RETENTION')}}
  </ion-button>
  }

  <ion-accordion-group>
    <!-- DETAILS -->
    @for (retentionDetails of this.collectService.collection.collectionDetails; track $index; let ret = $index) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label> {{this.collectService.collectionTags.get('COB_NRO_DOC')}}: {{retentionDetails.coDocument}}
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            {{this.collectService.collectionTags.get('COB_FECHA_DOC')}}: {{retentionDetails.daVoucher}}
          </ion-item>

          <ion-item>
            {{this.collectService.collectionTags.get('COB_MONTO_DOC')}}
            {{this.collectService.collection.coCurrency}}:
            {{this.currencyService.formatNumber(retentionDetails.nuBalanceDoc)}}
          </ion-item>

          @if (usesDynamicRetentionTotalization()) {
          @for (retentionLine of getDetailRetentionDisplayLines(retentionDetails); track retentionLine.idCollectRetention) {
          <ion-item>
            {{getRetentionLineDisplayLabel(retentionLine)}}
            {{this.collectService.collection.coCurrency}}:
            {{this.currencyService.formatNumber(retentionLine.nuAmountRetention)}}
          </ion-item>
          }

          <ion-item>
            {{this.collectService.collectionTags.get('COB_MONTO_TOTAL_RETENTION')}}
            {{this.collectService.collection.coCurrency}}:
            {{this.currencyService.formatNumber(getDetailRetentionLinesTotal(retentionDetails))}}
          </ion-item>
          } @else {
          <ion-item>
            {{this.collectService.collectionTags.get('COB_IVA_AMOUNT')}}
            {{this.collectService.collection.coCurrency}}:
            {{this.currencyService.formatNumber(retentionDetails.nuAmountRetention)}}
          </ion-item>

          <ion-item>
            {{this.collectService.collectionTags.get('COB_ISLR_AMOUNT')}}
            {{this.collectService.collection.coCurrency}}:
            {{this.currencyService.formatNumber(retentionDetails.nuAmountRetention2)}}
          </ion-item>

          <ion-item>
            {{this.collectService.collectionTags.get('COB_MONTO_TOTAL_RETENTION')}}
            {{this.collectService.collection.coCurrency}}:
            {{this.currencyService.formatNumber(retentionDetails.nuAmountRetention +
            retentionDetails.nuAmountRetention2)}}
          </ion-item>
          }

          @if (this.collectService.collection.stDelivery == this.COLLECT_STATUS_SENT) {
          <ion-item>
            <ion-button size="small" color="danger" expand="block" (click)="deleteRetention(ret)">
              <!-- {{this.collectService.collectionTags.get('COB_BOTON_ELIMINAR')}} -->
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
          }

        </ion-list>
      </div>
    </ion-accordion>
    }
    <!-- DETAILS -->
  </ion-accordion-group>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="4" class="titulosBold">
        {{this.collectService.collectionTags.get('COB_MONTO_TOTAL_PAGAR')}}
        {{this.collectService.collection.coCurrency}}
      </ion-col>
      <ion-col>{{this.currencyService.formatNumber(this.collectService.montoTotalPagar)}}</ion-col>
    </ion-row>

    @if (this.collectService.multiCurrency && this.collectService.showConversion) {
    <ion-row>
      <ion-col size="4" class="titulosBold">
        {{this.collectService.collectionTags.get('COB_MONTO_TOTAL_PAGAR')}}
        {{this.collectService.currencyConversion.coCurrency}}
      </ion-col>
      <ion-col>{{this.currencyService.formatNumber(this.collectService.montoTotalPagarConversion)}}</ion-col>
    </ion-row>
    }
  </ion-grid>



  <ion-modal [isOpen]="this.collectService.addRetention" id="eventModal" size="cover"
    class="listado-product-structures modalActividades" (didDismiss)="this.collectService.addRetention = false"
    backdrop-dismiss="false">
    <!-- <ion-popover [isOpen]="collectService.addRetention"> -->
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="fondoVerde">
            <ion-grid>
              <ion-row>
                <ion-col size="1" size-sm="1" size-xs="2">
                  <a>
                    <img (click)="saveRetention(false)" class="fechaAtras" alt=""
                      src="../../../assets/images/flecha-blanca.png" />
                  </a>
                </ion-col>
                <ion-col size="8" size-sm="8" size-xs="6">
                  <h1 class="tituloModulos">
                    {{this.collectService.collectionTags.get('COB_DETAIL_RETENTION')}}</h1>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list [inset]="true">
          <!-- //NUMERO DOCUMENTO -->
          <ion-col size="12" size-xs="12" size-sm="12" size-md="12">
            <ion-input label="{{this.collectService.collectionTags.get('COB_NRO_DOC')}}" label-placement="floating"
              fill="outline" value="{{collectService.retention.coDocument}}" color="primary"
              [(ngModel)]="collectService.retention.coDocument"
              (ionChange)="validate()"
              [ngClass]="{'inp-write': collectService.retention.coDocument, 'input-rojo': !collectService.retention.coDocument}">
            </ion-input>
          </ion-col>
          <!-- //NUMERO DOCUMENTO -->

          @if (usesDynamicRetentionTotalization()) {
          @if (hasManualCollectRetentions()) {
          <ion-col size="12" size-xs="12" size-sm="12" size-md="12">
            <ion-label class="retention-selector-label">
              {{this.collectService.collectionTags.get('COB_SELECCIONE')}}
              {{this.collectService.collectionTags.get('COB_RETENCIONES') || 'Retención'}}
            </ion-label>
            <ion-item lines="none" class="retention-selector-item">
              <div class="listado-enterprise-selector ion-text-center retention-selector-box">
                <ion-select class="ion-text-center always-flip" interface="alert" labelPlacement="stacked"
                  placeholder="{{this.collectService.collectionTags.get('COB_SELECTOR') || 'Seleccione'}}"
                  [(ngModel)]="selectedManualRetentionId"
                  [disabled]="!hasAvailableManualCollectRetentions()"
                  (ionChange)="onManualCollectRetentionSelectionChange($event)">
                  @for(retention of getAvailableManualCollectRetentions(); track retention.idCollectRetention){
                  <ion-select-option [value]="retention.idCollectRetention">
                    {{retention.coCollectRetention}} - {{retention.naCollectRetention}}
                  </ion-select-option>
                  }
                </ion-select>
              </div>
            </ion-item>
            @if(!hasAvailableManualCollectRetentions()){
            <ion-label class="retention-selector-empty-msg">
              No hay más retenciones disponibles.
            </ion-label>
            }
          </ion-col>
          }

          @for(retentionDetail of manualRetentionLines; track retentionDetail.idCollectRetention){
          <ion-col size="12" size-xs="12" size-sm="12" size-md="12" class="retention-line-block">
            <ion-label class="retention-detail-title">
              {{retentionDetail.coCollectRetention}} - {{getManualCollectRetentionName(retentionDetail.coCollectRetention)}}
            </ion-label>

            @if(shouldUseManualNumericRetentionVoucherInput(retentionDetail.idCollectRetention)){
            <ion-input label="{{this.collectService.collectionTags.get('COB_NUMBER_COMPROBANTE_RETENTION')}}"
              label-placement="floating" fill="outline" color="primary" type="text" inputmode="numeric"
              [ngModel]="retentionDetail.nuVoucherRetention"
              (ngModelChange)="setManualRetentionLineVoucher(retentionDetail.idCollectRetention, $event)"
              [maxlength]="getManualRetentionVoucherMaxDigits(retentionDetail.idCollectRetention) || null"
              [ngClass]="{'inp-write': shouldShowManualRetentionLineVoucherValidBorder(retentionDetail.idCollectRetention), 'input-rojo': shouldShowManualRetentionLineVoucherInvalidBorder(retentionDetail.idCollectRetention)}">
            </ion-input>
            } @else {
            <ion-input label="{{this.collectService.collectionTags.get('COB_NUMBER_COMPROBANTE_RETENTION')}}"
              label-placement="floating" fill="outline" color="primary" type="text"
              [ngModel]="retentionDetail.nuVoucherRetention"
              (ngModelChange)="setManualRetentionLineVoucher(retentionDetail.idCollectRetention, $event)"
              [ngClass]="{'inp-write': shouldShowManualRetentionLineVoucherValidBorder(retentionDetail.idCollectRetention), 'input-rojo': shouldShowManualRetentionLineVoucherInvalidBorder(retentionDetail.idCollectRetention)}">
            </ion-input>
            }

            <ion-input label="{{this.collectService.collectionTags.get('COB_DAVOUCHER')}}:"
              [(ngModel)]="retentionDetail.daVoucherRetention"
              (ngModelChange)="validate()"
              label-placement="floating" fill="outline" type="date_event"
              [id]="getManualRetentionCalendarTriggerId(retentionDetail.idCollectRetention)"
              [ngClass]="{
                'inp-write': shouldShowManualRetentionLineDateValidBorder(retentionDetail.idCollectRetention),
                'input-rojo': shouldShowManualRetentionLineDateInvalidBorder(retentionDetail.idCollectRetention)
              }">
            </ion-input>
            <ion-modal [keepContentsMounted]="true"
              [trigger]="getManualRetentionCalendarTriggerId(retentionDetail.idCollectRetention)"
              [initialBreakpoint]="0.65">
              <ng-template>
                <ion-datetime presentation="date"
                  [value]="retentionDetail.daVoucherRetention || fechaHoy"
                  locale="es-ES" min="2000-01-01T00:00:00" max="{{fechaHoy}}"
                  (ionChange)="setManualRetentionLineDaVoucher(retentionDetail.idCollectRetention, $event)"
                  [showDefaultButtons]="true" [ngModelOptions]="{standalone: true}"
                  doneText="{{this.collectService.collectionTagsDenario.get('DENARIO_BOTON_ACEPTAR')}}"
                  cancelText="{{this.collectService.collectionTagsDenario.get('DENARIO_BOTON_CANCELAR')}}">
                </ion-datetime>
              </ng-template>
            </ion-modal>

            <div class="retention-amount-row">
              <ion-input
                label="{{this.collectService.collectionTags.get('COB_MONTO')}} {{this.collectService.collection.coCurrency}}"
                label-placement="floating" fill="outline" color="primary" type="number"
                [(ngModel)]="retentionDetail.nuAmountRetention"
                (ionChange)="validate()"
                [ngClass]="{
                  'inp-write': shouldShowManualCollectRetentionAmountValidBorder(retentionDetail.idCollectRetention),
                  'input-rojo': shouldShowManualCollectRetentionAmountInvalidBorder(retentionDetail.idCollectRetention)
                }">
              </ion-input>
              <ion-button fill="clear" color="danger" class="retention-amount-remove-btn"
                (click)="removeManualCollectRetention(retentionDetail.idCollectRetention)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
          }

          <ion-col size="12" size-xs="12" size-sm="12" size-md="12">
            <ion-input
              label="{{this.collectService.collectionTags.get('COB_MONTO_TOTAL_RETENTION')}} {{this.collectService.collection.coCurrency}}"
              label-placement="floating" fill="outline"
              [value]="currencyService.formatNumber(getManualRetentionTotal())" color="primary"
              [readonly]="true"
              [ngClass]="{'inp-write': getManualRetentionTotal() > 0}">
            </ion-input>
          </ion-col>
          } @else {
          <!-- //NUMERO COMPROBANTE -->
          <ion-col size="12" size-xs="12" size-sm="12" size-md="12">
            <ion-input label="{{this.collectService.collectionTags.get('COB_NUMERO_COMPROBANTE')}}"
              label-placement="floating" fill="outline" value="{{collectService.retention.nuVoucherRetention}}"
              color="primary" [(ngModel)]="collectService.retention.nuVoucherRetention"
              [ngClass]="{'inp-write': !collectService.retention.nuVoucherRetention}">
            </ion-input>
          </ion-col>
          <!-- //NUMERO COMPROBANTE -->

          <!-- //NUMERO RETENCION IVA -->
          <ion-col size="12" size-xs="12" size-sm="12" size-md="12">
            <ion-input
              label="{{this.collectService.collectionTags.get('COB_IVA_RETENTION')}} {{this.collectService.collection.coCurrency}}"
              label-placement="floating" fill="outline" value="{{this.collectService.retention.nuAmountRetention}}"
              color="primary" type="number" [(ngModel)]="collectService.retention.nuAmountRetention"
              (ionChange)="validate()" [ngClass]="{'inp-write': !collectService.retention.nuAmountRetention}">
            </ion-input>
          </ion-col>
          <!-- //NUMERO RETENCION IVA -->

          <!-- //NUMERO RETENCION ISLR -->
          <ion-col size="12" size-xs="12" size-sm="12" size-md="12">
            <ion-input
              label="{{this.collectService.collectionTags.get('COB_ISLR_RETENTION')}} {{this.collectService.collection.coCurrency}}"
              label-placement="floating" fill="outline" value="{{this.collectService.retention.nuAmountRetention2}}"
              color="primary" type="number" [(ngModel)]="collectService.retention.nuAmountRetention2"
              (ionChange)="validate()" [ngClass]="{'inp-write': !collectService.retention.nuAmountRetention2}">
            </ion-input>
          </ion-col>
          <!-- //NUMERO RETENCION ISLR -->

          <!-- //MONTO TOTAL RETENIDO -->
          <ion-col size="12" size-xs="12" size-sm="12" size-md="12">
            <ion-input
              label="{{this.collectService.collectionTags.get('COB_MONTO_TOTAL_RETENTION')}} {{this.collectService.collection.coCurrency}}"
              label-placement="floating" fill="outline"
              value="{{this.currencyService.formatNumber(this.collectService.retention.nuAmountPaid)}}" color="primary"
              [(ngModel)]="collectService.retention.nuAmountPaid" [readonly]="true"
              [ngClass]="{'inp-write': !collectService.retention.nuAmountPaid}">
            </ion-input>
          </ion-col>
          <!-- //MONTO TOTAL RETENIDO -->
          }

          <ion-grid>
            <ion-row>
              <ion-col class="" size="6" size-sm="6" size-xs="6">
                <ion-button expand="block" size="small" color="light" (click)="saveRetention(false)">
                  {{this.collectService.collectionTagsDenario.get('DENARIO_BOTON_CANCELAR')}}
                </ion-button>
              </ion-col>
              <ion-col class="" size="6" size-sm="6" size-xs="6">
                <ion-button expand="block" size="small" class="botonAddVerde" (click)="saveRetention(true)">
                  {{this.collectService.collectionTagsDenario.get('DENARIO_BOTON_GUARDAR')}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>

      </ion-content>
    </ng-template>
    <!-- </ion-popover> -->
  </ion-modal>
</div>
<!-- RETENCION -->
}
