<app-client-header *ngIf="showHeader"></app-client-header>
<ion-content class="client-detail">
  <ion-segment value="default" [(ngModel)]="this.clientLogic.segment" scrollable>
    <ion-segment-button value="default">
      <ion-label class="textTab">{{clientLogic.clientTags.get("CLI_DETAIL_TAB_DETALLE")}}</ion-label>
    </ion-segment-button>
    @if(showDocVentasTab()){
    <ion-segment-button value="docVentas" [disabled]="client == null">
      <ion-label class="textTab">{{clientLogic.clientTags.get("CLI_DETAIL_TAB_DOCUMENTO_VENTA")}}</ion-label>
    </ion-segment-button>
    }
  </ion-segment>
  <div [ngSwitch]="this.clientLogic.segment">
    <ion-card *ngSwitchCase="'default'">
      <div class="saldo-legend" *ngIf="!this.clientLogic.esTransportista">
        <span class="legend-item">
          <span class="legend-dot legend-blue" aria-hidden="true"></span>
          {{this.clientLogic.clientTags.get('DENARIO_DOC_VIGENTE')}}
        </span>
        <span class="legend-item">
          <span class="legend-dot legend-red" aria-hidden="true"></span>
          {{this.clientLogic.clientTags.get('DENARIO_DOC_VENCIDO')}}
        </span>
      </div>
      <ion-grid [fixed]="true" class="tablaInfoclients">
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_EMPRESA")}}:</ion-col>
          <ion-col>{{client.lblEnterprise}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_NOMBRE")}}:</ion-col>
          <ion-col>{{client.naClient}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_CODIGO")}}:</ion-col>
          <ion-col>{{client.coClient}}</ion-col>
        </ion-row>
        <ion-row *ngIf="!this.clientLogic.esTransportista">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_LISTA_PRECIO")}}:</ion-col>
          <ion-col>{{client.naPriceList}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{tagRif}}:</ion-col>
          <ion-col>{{client.nuRif}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_CONTACTO")}}:</ion-col>
          <ion-col>{{client.naResponsible}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_EMAIL")}}:</ion-col>
          <ion-col size="8">{{client.naEmail}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_TELEFONO")}}:</ion-col>
          <ion-col>{{client.nuPhone}}</ion-col>
        </ion-row>
        <ion-row *ngIf="!this.clientLogic.esTransportista">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_SALDO")}}
            {{localCurrency}}:</ion-col>
          <ion-col [ngStyle]="{color: client.saldo1 > 0 ? 'Red' : 'Blue' }">{{formatNumber(this.saldoLocal)}}</ion-col>
        </ion-row>
        <ion-row *ngIf="this.clientLogic.showConversion && !this.clientLogic.esTransportista">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_SALDO")}}
            {{hardCurrency}}:</ion-col>
          <ion-col [ngStyle]="{color: client.saldo1 > 0 ? 'Red' : 'Blue' }">{{formatNumber(this.saldoFuerte)}}</ion-col>
        </ion-row>
        <ion-row *ngIf="!this.clientLogic.esTransportista">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_CREDITO")}}
            {{client.coCurrency}}:</ion-col>
          <ion-col>{{client.nuCreditLimit}} </ion-col>
        </ion-row>
        <ion-row *ngIf="this.clientLogic.showConversion && !this.clientLogic.esTransportista">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_CREDITO")}}
            {{oppositeCoCurrency(client.coCurrency)}}:</ion-col>
          <ion-col>{{this.nuCreditLimitConversion}}</ion-col>
        </ion-row>
        <ion-row *ngIf="!this.clientLogic.esTransportista">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_CONDICION_PAGO")}}:</ion-col>
          <ion-col>{{client.coPaymentCondition}} - {{client. naPaymentCondition}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_DIRECCION")}}:</ion-col>
          <ion-col>
            <ion-select placeholder="{{clientLogic.clientTags.get('COB_SELECCIONE')}}" [(ngModel)]="selectedAddress"
              (ionChange)="onChangeAddress($event)" [compareWith]="addressCompare">
              <ion-select-option *ngFor="let direccion of clientLogic.listaDirecciones" [value]="direccion">
                {{direccion.txAddress}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_DIRECCION")}}:</ion-col>
          <ion-col>{{client.txAddress}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_DESCRIPTION_1")}}:</ion-col>
          <ion-col>{{client.txDescription1}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_DESCRIPTION_2")}}:</ion-col>
          <ion-col>{{client.txDescription2}}</ion-col>
        </ion-row>
        <ion-row *ngIf="client.editable">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_COORDENADA")}}:</ion-col>
          <ion-col>{{getCoordenada(client.coordenada)}}
            @if(!this.clientLogic.fromSelector){
            <!--si venimos del selector, no mostramos botones de coordenadas-->
            <ion-button *ngIf="hayCoordenada(client.coordenada)" class="botonAddVerde" size="small"
              (click)="viewCoordenada(true,  client, 'client')">
              <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!hayCoordenada(client.coordenada)" class="botonAddVerde" size="small"
              (click)="viewCoordenada(false,client, 'client')">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            }
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!client.editable">
          <ion-col size="4" class="titulosBold">{{clientLogic.clientTags.get("CLI_DETAIL_COORDENADA")}}:</ion-col>
          <ion-col>{{client.coordenada}}
            <ion-button *ngIf="hayCoordenada(client.coordenada)" class="botonAddVerde" size="small"
              (click)="viewCoordenada(true, client, 'client')">
              <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
            </ion-button>
            <!-- <a (click)="viewCoordenada(true, client)">
                            <ion-icon *ngIf="coordenada" src="../../../assets/icon/search-circle-outline.svg"></ion-icon>
                        </a> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card *ngSwitchCase="'docVentas'">
      <div class="saldo-legend" *ngIf="document.length > 0">
        <button class="legend-item legend-button" id="legendBlueHint" type="button">
          <span class="legend-dot legend-blue" aria-hidden="true"></span>
          {{this.clientLogic.clientTags.get('DENARIO_VIGENTE')}}
          <ion-icon name="information-circle-outline" aria-hidden="true"></ion-icon>
        </button>
        <button class="legend-item legend-button" id="legendRedHint" type="button">
          <span class="legend-dot legend-red" aria-hidden="true"></span>
          {{this.clientLogic.clientTags.get('DENARIO_VENCIDO')}}
          <ion-icon name="information-circle-outline" aria-hidden="true"></ion-icon>
          <ion-icon name="information-circle-outline" aria-hidden="true"></ion-icon>
        </button>
        <button class="legend-item legend-button" id="legendBlackHint" type="button">
          <span class="legend-dot legend-black" aria-hidden="true"></span>
          {{this.clientLogic.clientTags.get('DENARIO_FAVOR')}}
          <ion-icon name="information-circle-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <ion-popover trigger="legendBlueHint" triggerAction="click">
        <ng-template>
          <div class="legend-popover">
            {{this.clientLogic.clientTags.get('DENARIO_HINT_VIGENTE')}}
          </div>
        </ng-template>
      </ion-popover>

      <ion-popover trigger="legendRedHint" triggerAction="click">
        <ng-template>
          <div class="legend-popover">
            {{this.clientLogic.clientTags.get('DENARIO_HINT_VENCIDO')}}
          </div>
        </ng-template>
      </ion-popover>

      <ion-popover trigger="legendBlackHint" triggerAction="click">
        <ng-template>
          <div class="legend-popover">
            {{this.clientLogic.clientTags.get('DENARIO_HINT_FAVOR')}}
          </div>
        </ng-template>
      </ion-popover>

      <ion-grid class="tablaInfoClientes tablaDocVentasGrip" *ngIf="document.length > 0">
        <ion-row class="ion-text-nowrap tablaDocVentas row cabecera">
          @if(!clientLogic.fromSelector){
          <ion-col size="2" class="titulosBold col borderSuperiorIzquierdo"></ion-col>
          }
          <ion-col size="2" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_TIPO")}}</ion-col>
          <ion-col size="4" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_NUMERO_DOCUMENTO")}}
          </ion-col>
          <ion-col size="4" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_MONEDA_DOC")}}
          </ion-col>
          <ion-col size="4" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_DIAS_VENCIMIENTO")}}
          </ion-col>
          <ion-col size="4" *ngIf="this.clientLogic.showConversion" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_TASA")}}
          </ion-col>
          <ion-col size="4" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_MONTO")}}
          </ion-col>
          <ion-col size="4" *ngIf="this.clientLogic.showConversion"
            class="titulosBold col">{{clientLogic.clientTags.get("CLI_DETAIL_MONTO_CONVERSION")}}</ion-col>
          <ion-col size="4" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_SALDO")}}
          </ion-col>
          <ion-col size="4" *ngIf="this.clientLogic.showConversion" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_SALDO_CONVERSION")}}
          </ion-col>
          <ion-col size="4" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_FECHA_DOCUMENTO")}}
          </ion-col>
          <ion-col size="4" class="titulosBold col">
            {{clientLogic.clientTags.get("CLI_DETAIL_FECHA_VENCIMIENTO")}}
          </ion-col>
          <ion-col size="4" class="titulosBold col borderSuperiorDerecho">
            {{clientLogic.clientTags.get("CLI_DOC_SALE_TXCOMMENT")}}
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let documento of document;index as i" class="tablaDocumentosVenta tablaDocVentas row">
          @if(!clientLogic.fromSelector){
          <ion-col size="2" class="ion-text-center col borderInferiorIzquierdo">
            <ion-button (click)="openDoc(documento.idDocument, i)" expand="block" class="botonAddVerde" size="small">
              <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
              <!-- {{clientLogic.clientTags.get("CLI_DOC_SALE_BUTTON_VIEW")}} -->
            </ion-button>

            <!-- <a (click)="openDoc(documento.idDocument, i)">
                            <ion-icon src=" ../../../assets/icon/search-circle-outline.svg"></ion-icon>Ver
                        </a> -->
          </ion-col>
          }
          <!-- Tipo -->
          <ion-col size="2" class="ion-text-center col"
            [ngStyle]="{color: documento.colorRow }">{{documento.coDocumentSaleType}}
          </ion-col>
          <!-- Numero Documento -->
          <ion-col size="4" class="ion-text-center col"
            [ngStyle]="{color: documento.colorRow }">{{documento.coDocument}}
          </ion-col>
          <!-- Moneda Documento -->
          <ion-col size="4" class="ion-text-center col"
            [ngStyle]="{color: documento.colorRow }">{{documento.coCurrency}}
          </ion-col>
          <!-- Dias Vencimiento -->
          <ion-col size="4" class="ion-text-center col" [ngStyle]="{color: documento.colorRow }">
            {{getDaDueDate(documento.daDueDate)}}
          </ion-col>
          <!-- Tasa -->
          <ion-col size="4" class="ion-text-center col" [ngStyle]="{color: documento.colorRow }"
            *ngIf="this.clientLogic.showConversion">
            {{formatNumber(this.currencyService.localValue)}} {{localCurrency}}
          </ion-col>
          <!-- Monto -->
          <ion-col size="4" class="ion-text-center col" [ngStyle]="{color: documento.colorRow }">
            {{formatNumber(documento.nuAmountTotal)}} {{documento.coCurrency}}
          </ion-col>
          <!-- Monto Conversion -->
          <ion-col size="4" class="ion-text-center col" [ngStyle]="{color: documento.colorRow }"
            *ngIf="this.clientLogic.showConversion">
            {{this.convertirMonto(documento.nuAmountTotal, this.currencyService.localValue,
            documento.coCurrency)}}
            {{oppositeCoCurrency(documento.coCurrency)}}
          </ion-col>
          <!-- Saldo -->
          <ion-col size="4" class="ion-text-center col" [ngStyle]="{color: documento.colorRow }">
            {{formatNumber(documento.nuBalance)}} {{documento.coCurrency}}
          </ion-col>
          <!-- Saldo Conversion -->
          <ion-col size="4" class="ion-text-center col " [ngStyle]="{color: documento.colorRow }"
            *ngIf="this.clientLogic.showConversion">
            {{this.convertirMonto(documento.nuBalance, this.currencyService.localValue,
            documento.coCurrency)}}
            {{oppositeCoCurrency(documento.coCurrency)}}
          </ion-col>
          <!-- Fecha Documento -->
          <ion-col size="4" class="ion-text-center col" [ngStyle]="{color: documento.colorRow }">
            {{documento.daDocument}}
          </ion-col>
          <!-- Fecha Vencimiento -->
          <ion-col size="4" class="ion-text-center col" [ngStyle]="{color: documento.colorRow }">
            {{documento.daDueDate}}
          </ion-col>
          <ion-col size="4" class="ion-text-center col borderInferiorDerecho" [ngStyle]="{color: documento.colorRow }">
            {{documento.txComment}}
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </div>
  @if(!clientLogic.fromSelector){
  <ion-fab size="small" *ngIf="this.clientLogic.datos?.document?.length ?? 0" slot="fixed" vertical="bottom"
    horizontal="start">
    <ion-fab-button (click)="openSelectShareModal(true)">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
  <ion-modal [isOpen]="clientShareModalOpen" (didDismiss)="openShareModal(false)">
    <ng-template>
      <app-client-share-modal></app-client-share-modal>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="clientSelectShareModalOpen" (didDismiss)="openSelectShareModal(false)" class="compartirDoc">
    <ng-template>
      <!-- Header fijo arriba -->
      <ion-header class="compartirDoc-header" slot="fixed">
        <ion-toolbar>
          <ion-title class="tituloCompartir">Compartir documentos</ion-title>
          <ion-item lines="none">
            <ion-label>{{ clientLogic.clientTags.get('CLI_DETAIL_SELECT_DOCS') || 'Seleccionar documentos'
              }}</ion-label>
            <ion-button fill="clear" size="small" slot="end" (click)="selectAllDocuments()">Todos</ion-button>
          </ion-item>
        </ion-toolbar>
      </ion-header>

      <!-- Contenido desplazable -->
      <ion-content class="compartirDoc-content">
        <div *ngIf="clientLogic.datos?.document?.length">
          <ion-list>
            <ion-item *ngFor="let doc of clientLogic.datos.document">
              <ion-label>{{ doc.coDocument }}</ion-label>
              <ion-checkbox slot="end" [checked]="selectedDocuments.includes(doc.coDocument)"
                (ionChange)="toggleDocumentSelection(doc.coDocument, $event)">
              </ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>

      <!-- Footer fijo del modal -->
      <ion-footer slot="fixed" class="compartirDoc-footer">
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block" size="small" color="light" (click)="openSelectShareModal(false)">
                  Cancelar
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" size="small" class="botonAddVerde"
                  (click)="openShareModal(true); openSelectShareModal(false)" [disabled]="!selectedDocuments.length">
                  Aceptar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
