.icon-List {
    font-size: 15px;
    margin-top: 13px;
    background: #430197;
    color: #fff;
    border-radius: 25px;
    padding: 3px;
    margin-right: -11px;
}

.fondoVerde {
  background: #59b02d !important; /* Usa tu color verde corporativo */
  --background: #59b02d !important;
  color: #fff !important;
}

.fondoAmarillo{
    background: #daab19 !important; /* Usa tu color amarillo corporativo */
    --background: #daab19 !important;
    color: #fff !important;
}

.fondoLila{
    background: #430197 !important; /* Usa tu color lila corporativo */
    --background: #430197 !important;
    color: #fff !important;

}

.verMasCliente {
    font-size: 17px !important;
    font-weight: bold;
}

.masInfo {
    margin-top: -4px;
    }

ion-button.masInfo {
  --background: #430197;
}