.fondoVerde {
    background: #59b02d;
    --background: #59b02d;
    color: #fff !important;
}

.boton {
    width: 40px;
}
.colorBorderBuscar {
  --border-color: #59b02d;
  --background-activated: #59b02d;
}
