<ion-header :translucent="true">
    <ion-toolbar class="fondoAmarillo">
    <ion-title class="tituloModulos">{{ inventarioTags.get('INV_PED_SUG') || 'Pedido sugerido' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        {{ inventarioTags.get('DENARIO_BOTON_CANCELAR') || 'Cerrar' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="client-document-sale">
  <ion-grid class="tableClientDocumentSale">
  <ion-row>
    <ion-col>
      Dias desde último inventario: {{ diasDesdeUltimoInventario }}
      <br>
    </ion-col>
    <ion-col>
      Dias hasta siguiente inventario: {{ diasHastaSiguienteInventario }}
      <br>     
    </ion-col>
  </ion-row>
</ion-grid>
  @if(productsSuggested.length > 0){
  <ion-list>
    <ion-accordion-group>
      @for(product of productsSuggested; track product.idProduct){
      <ion-accordion>
        <ion-item slot="header" >
          <ion-label>
            <h2>{{ getProductCode(product.idProduct) }} - {{ getProductName(product.idProduct) }}</h2>
          </ion-label>
        </ion-item>

        <div slot="content" class="ion-padding">
          @for(unit of product.unitsSuggested; track unit.idUnit){
          <ion-item >
            <ion-label>
              Sugerido {{ getUnitName(product.idProduct, unit.idUnit) }}: {{ formatNumber(unit.quUnitSuggested) }}
              @if(suggestedOrderByDispatchAndReturn) {

                <ion-grid>
                  <ion-row>
                    <ion-col>
                      
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid class="tablaInfoClientes tablaDocVentasGrip">
    <ion-row class="ion-text-nowrap tablaDocVentas row cabecera">
       <ion-col class="titulosBold col borderSuperiorIzquierdo ion-text-center" size="6">Inv. Inicial</ion-col>
                  <ion-col class="titulosBold col ion-text-center" size="6">Inv. Anterior</ion-col>
                  <ion-col class="titulosBold col ion-text-center" size="6">Despacho</ion-col>
                  <ion-col class="titulosBold col borderSuperiorDerecho ion-text-center" size="7">Cambio por Cambio</ion-col> 
    </ion-row>

    <ion-row class="tabladocumentSalesVenta tablaDocVentas row">
      <ion-col size="6" class="ion-text-center col ">{{formatNumber(unit.initialStock)}}</ion-col>
      <ion-col size="6" class="ion-text-center col">{{formatNumber(unit.previousStock)}}</ion-col>
      <ion-col size="6" class="ion-text-center col">{{formatNumber(unit.dispatchedStock)}}</ion-col>
      <ion-col size="7" class="ion-text-center col borderInferiorDerecho">{{formatNumber(unit.straightSwapStock)}}</ion-col>
    </ion-row>
  </ion-grid>


                <ion-grid class="tablaInfoClientes tablaDocVentasGrip">
    <ion-row class="ion-text-nowrap tablaDocVentas row cabecera">
       <ion-col class="titulosBold col borderSuperiorIzquierdo ion-text-center" size="6">Venta</ion-col>
                  <ion-col class="titulosBold col ion-text-center" size="6">Inv. Inicial</ion-col>
                  <ion-col class="titulosBold col ion-text-center" size="6">Inv. Actual</ion-col>
                  <ion-col class="titulosBold col borderSuperiorDerecho ion-text-center" size="7">Dev. Distribución</ion-col> 
    </ion-row>

    <ion-row class="tabladocumentSalesVenta tablaDocVentas row">
      <ion-col size="6" class="ion-text-center col ">{{formatNumber(unit.soldUnits)}}</ion-col>
      <ion-col size="6" class="ion-text-center col">{{formatNumber(unit.initialStock)}}</ion-col>
      <ion-col size="6" class="ion-text-center col">{{formatNumber(unit.currentStock)}}</ion-col>
      <ion-col size="7" class="ion-text-center col borderInferiorDerecho">{{formatNumber(unit.returnedStock)}}</ion-col>
    </ion-row>
  </ion-grid>
              
              <ion-item>Ventas Diarias Estimadas: {{ formatDecimal(unit.estimatedDailyUnits) }}</ion-item>
            }@else{
                <ion-row>
                  <ion-col class="tituloDetails">Inv. Actual</ion-col>
                  <ion-col class="tituloDetails">Despacho</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-align-items-start">{{formatNumber(unit.currentStock)}}</ion-col>
                  <ion-col class="ion-align-items-start">{{formatNumber(unit.dispatchedStock)}}</ion-col>
                </ion-row>
            }
            </ion-label>
          </ion-item>
        }
        </div>
      </ion-accordion>
    }
    </ion-accordion-group>
  </ion-list>
}@else{
  <ng-template #emptyState>
    <!-- No deberia aparecer esto, ya que el boton para traer este modal solo se habilita si hay productos sugeridos -->
    <ion-item>
      <ion-label>No hay productos sugeridos.</ion-label>
    </ion-item>
  </ng-template>
}
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="disableOrderButton" expand="block" class="botonAddAmarillo" (click)="confirm()">
      {{ inventarioTags.get('DENARIO_BOTON_ACEPTAR') || 'Aceptar' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>