<ion-header :translucent="false">
  <ion-toolbar class="fondoLila">
    <ion-grid>
      <ion-row>
        <ion-col size="1" size-sm="1" size-xs="2">
          <a (click)="goBack()">
            <img class="fechaAtras" alt="" src="../../../assets/images/flecha-blanca.png" />
          </a>
        </ion-col>
        <ion-col size="9" size-sm="9" size-xs="6">
          <h1 class="tituloModulos">
            {{ rolTransportista ? getTag('VIS_NOMBRE_MODULO_DESPACHOS') : getTag('VIS_NOMBRE_MODULO') }}
          </h1>
        </ion-col>
        <ion-col size="1" size-sm="1" size-xs="2" *ngIf="!viewOnly">
          <ion-button class="imagenGuardar" (click)="saveButton()" [disabled]="disableSaveButton" expand="block"
            fill="clear">

          </ion-button>

        </ion-col>
        <ion-col size="1" size-sm="1" size-xs="2" *ngIf="!viewOnly">
          <ion-button class="imagenEnviar" (click)="confirmSend()" [disabled]="disableSendButton" expand="block"
            fill="clear">
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-segment value="default" [(ngModel)]="segment" scrollable (click)="checkSegment()">
    <ion-segment-button value="default" [disabled]="initialLock">
      <ion-label>{{ getTag("VIS_TAB_GENERAL") }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="actividades"
      [disabled]="(cliente.idClient == null) || initialLock || (direccionCliente == null)">
      <ion-label>{{ getTag("VIS_TAB_ACTIVIDADES") }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="adjuntos"
      [disabled]="(cliente.idClient == null) || initialLock || (direccionCliente == null)">
      <ion-label>{{ getTag("VIS_TAB_ADJUNTOS") }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <!-- Primera card: Empresa, Fecha y Cliente-->
    <ion-card *ngSwitchCase="'default'">

      <ion-grid>
        <ion-row>
          <!-- EMPRESA -->
          <ion-col size="12" size-sm="12" size-xs="12">
            <div class="listado-enterprise-selector ion-text-center">
              <ion-select [(ngModel)]="empresaSeleccionada" (ionChange)="onEnterpriseSelect()"
                [disabled]="!multiempresa || !enterpriseEnabled || viewOnly || fromWeb"
                class="ion-text-center always-flip" labelPlacement="stacked" interface="popover"
                [interfaceOptions]="popoverOptions">
                <ion-select-option *ngFor="let emp of listaEmpresa" [value]="emp">{{ emp.lbEnterprise
                  }}</ion-select-option>
              </ion-select>
            </div>
          </ion-col>

          <!-- CLIENTE -->
          <ion-col size="6" size-sm="12" size-xs="12">
            <ion-input label-placement="floating" fill="outline" [ngClass]="{'inp-write': clientRedLabel}"
              label='{{ getTag("VIS_CLIENTE") }}' value="{{ nombreCliente }}" id="clienteSelect"
              [disabled]="viewOnly || fromWeb"></ion-input>
            <ion-label *ngIf="clientRedLabel" color="danger" class="campoObligatorio">
              {{ getTag('DENARIO_CAMPO_OBLIGATORIO') }}
            </ion-label>
          </ion-col>

          <ion-col size="12" size-sm="12" size-xs="12" *ngIf="hasClient">
            <!-- DIRECCION -->

            <ion-col size="12" size-sm="12" size-xs="12">
              <ion-label>{{ getTag("VIS_SUCURSAL")}}:</ion-label>
              <div class="listado-tps-selector ion-text-center" id="inputAddress"
                [ngClass]="{'inp-write2': addressRedLabel}">
                <ion-select [(ngModel)]="direccionCliente"
                  [disabled]="viewOnly || fromWeb || listaDirecciones.length < 1" class="ion-text-center always-flip"
                  labelPlacement="stacked" (ionChange)="onAddressSelect()">
                  <ion-select-option *ngFor="let dir of listaDirecciones" [value]="dir">{{ dir.txAddress
                    }}</ion-select-option>
                </ion-select>
                <ion-label *ngIf="addressRedLabel" color="danger" class="campoObligatorio">
                  {{ getTag('DENARIO_CAMPO_OBLIGATORIO') }}
                </ion-label>
              </div>
            </ion-col>
            <!-- <ion-col size="6" size-sm="12" size-xs="12" *ngIf="!rolTransportista">
              <ion-button id="eventSelect" class="botonAddLila" expand="block"
                (click)="clientLogic.openClientLocationComponent()">{{ getTag("VIS_BOTON_MAPA") }}</ion-button>
            </ion-col> -->

            <ion-col size="6" size-sm="12" size-xs="12">
              <ion-button id="eventSelect" class="botonAddLila" expand="block" expand="block"
                [disabled]="disabledButtonViewRoute" (click)="openRouteInGoogleMaps()">
                {{ getTag("VIS_SEE_ROUTE") }}
              </ion-button>

            </ion-col>

            <ion-col size="6" size-sm="12" size-xs="12">
              <b>
                {{ rolTransportista ? getTag('VIS_FECHA_VISITA_DESPACHO') : getTag('VIS_FECHA_VISITA') }}
              </b>
              <ion-button (click)="setShowDateModal(true)" color="light" disabled="true" class="letrasFechasButton">
                {{ dateServ.formatComplete(fechaVisita) }}
              </ion-button>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <!-- Modal de seleccionar cliente -->
        <!-- debe ir en el ion-card para que el trigger funcione -->
        <app-cliente-selector #selectorCliente *ngIf="!viewOnly && !fromWeb"
          (clienteSeleccionado)="setClientfromSelector($any($event))"></app-cliente-selector>
      </div>

      <!-- Boton Iniciar Visita -->
      <ion-col size="6" size-sm="12" size-xs="12" *ngIf="fromWeb">
        <ion-button id="initVisit" class="botonAddVerde" expand="block" [ngClass]="{'inp-write': initVisitRedLabel}"
          *ngIf="!viewOnly" (click)="iniciarVisita()">
          {{ rolTransportista ? getTag('VIS_BOTON_INICIAR_DESPACHO') : getTag('VIS_BOTON_INICIAR') }}
        </ion-button>
        <ion-label *ngIf="initVisitRedLabel" color="danger">
          {{ initVisitRedMsg }}
        </ion-label>
      </ion-col>

      <!-- Boton Reagendar Despacho-->
      <ion-col size="6" size-sm="12" size-xs="12" *ngIf="fromWeb && rolTransportista">
        <ion-button id="initVisit" class="botonAddLila" expand="block" [ngClass]="{'inp-write': initVisitRedLabel}"
          *ngIf="!viewOnly" (click)="reagendarVisita()">
          REAGENDAR DESPACHO
        </ion-button>
      </ion-col>

    </ion-card>

    <!--Segunda card: Actividades/ Eventos-->
    <ion-card *ngSwitchCase="'actividades'">
      <ion-card-header>

        <ion-col size="6" size-sm="12" size-xs="12">
          <ion-button id="eventSelect" class="botonAddLila" expand="block" *ngIf="!viewOnly"
            (click)="setShowEventModal(true)" [disabled]="rolTransportista && disabledButtonEvent">{{
            getTag("VIS_BOTON_EVENTOS") }} </ion-button>
        </ion-col>

      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let event of listaEventos">
          <div>
            <ion-item button="{{!viewOnly}}" detail="false">
              <ion-label (click)="editEvent(event)">
                <p>{{ getTag("VIS_ACTIVIDAD") }}:&nbsp;{{ event.actividad.naType }}</p>
                <p *ngIf="actividadRequiereEvento"> {{ getTag("VIS_EVENTO") }}:&nbsp;{{ event.evento.naMotive}} </p>
                <p>{{ getTag("VIS_OBSERVACION") }}:&nbsp;{{ event.comentario }}</p>
              </ion-label>
              <ion-button (click)="deleteEvent(event)" color="danger" *ngIf="!viewOnly">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
              <ion-note slot="end"><ion-icon class="icon-List" name="chevron-forward-outline"></ion-icon></ion-note>
            </ion-item>
          </div>
        </ion-list>
      </ion-card-content>
      <!--Segunda card: modal de  seleccionar evento -->
      <ion-modal [isOpen]="showEventModal" id="eventModal" size="cover"
        class="listado-product-structures modalActividades" (didDismiss)="setShowEventModal(false)"
        backdrop-dismiss="false">
        <ng-template>
          <ion-grid class="contenedorModalActividades">
            <ion-row>
              <ion-col class="" size="12" size-sm="12" size-xs="12">
                <ion-text>
                  <h1 class="ion-text-center">Agregar</h1>
                </ion-text>
              </ion-col>
              <ion-col class="" size="6" size-sm="12" size-xs="12">
                <ion-label class="titulosBold">Actividad:</ion-label>
              </ion-col>
              <ion-col class="" size="6" size-sm="12" size-xs="12">

                <div class="listado-enterprise-selector ion-text-center">

                  <ion-select class="ion-text-center always-flip" labelPlacement="stacked" interface="popover"
                    [interfaceOptions]="popoverOptions" (ionChange)="onSelectActivity($event)"
                    placeholder="Seleccione Actividad" [value]="actividadSeleccionada">
                    <ion-select-option *ngFor="let act of listaActividades" [value]="act">{{ act.naType
                      }}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
              <ion-col class="" size="6" size-sm="12" size-xs="12" *ngIf="motiveLock">
                <ion-label class="titulosBold">Motivo:</ion-label>
              </ion-col>
              <ion-col class="" size="6" size-sm="12" size-xs="12" *ngIf="motiveLock">

                <div class="listado-enterprise-selector ion-text-center">

                  <ion-select labelPlacement="stacked" interface="popover" [interfaceOptions]="popoverOptions"
                    (ionChange)="onSelectMotive($event)" placeholder="Seleccione Motivo" [value]="motivoSeleccionado">
                    <ion-select-option *ngFor="let mot of listaMotivosFiltrados" [value]="mot">{{ mot.naMotive
                      }}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
              <ion-col class="" size="6" size-sm="12" size-xs="12">
                <ion-label class="titulosBold">{{ getTag("VIS_COMENTARIO") }}:</ion-label>
              </ion-col>
              <ion-col class="" size="6" size-sm="12" size-xs="12">

                <ion-input label='{{ getTag("VIS_COMENTARIO") }}' #comentarioInput [(ngModel)]="comentario"
                  (ionInput)="onCommentInput()" labelPlacement="floating" fill="outline"
                  placeholder='{{ getTag("VIS_COMENTARIO") }}' maxlength="120"></ion-input>

              </ion-col>
              <!-- <ion-col class="" size="12" size-sm="12" size-xs="12"> -->
              <ion-col class="" size="3" size-sm="6" size-xs="6">
                <ion-button expand="block" size="small" color="light" (click)="resetEventSelect()">{{
                  getTag("DENARIO_BOTON_CANCELAR").toUpperCase() }}</ion-button>
              </ion-col>
              <ion-col class="" size="3" size-sm="6" size-xs="6" *ngIf="eventoAEditar < 0">
                <ion-button expand="block" size="small" class="botonAddLila" (click)="saveEvent()">{{
                  getTag("DENARIO_BOTON_AGREGAR") }}</ion-button>
              </ion-col>
              <ion-col class="" size="3" size-sm="6" size-xs="6" *ngIf="eventoAEditar >= 0">
                <ion-button expand="block" size="small" class="botonAddLila" (click)="saveEventChanges()">{{
                  getTag("DENARIO_BOTON_AGREGAR") }}</ion-button>
              </ion-col>
              <!-- </ion-col> -->


            </ion-row>
          </ion-grid>


        </ng-template>
      </ion-modal>
    </ion-card>

    <!-- tercera card: Adjuntos -->
    <ion-card *ngSwitchCase="'adjuntos'">
      <ion-card-content>
        <app-adjunto #selectorAdjunto></app-adjunto>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Modal de seleccionar fecha -->
  <ion-modal [keepContentsMounted]="true" [isOpen]="showDateModal" id="dateModal"
    (didDismiss)="setShowDateModal(false)">
    <ng-template>
      <ion-datetime id="datetime" presentation="date" min="{{fechaMinima}}" [(ngModel)]="fechaVisita"
        [formatOptions]="{ date: dateServ.dateFormatOptionsShort }"></ion-datetime>
    </ng-template>
  </ion-modal>

  <app-message></app-message>

  <!-- Modal de agregar dirección de cliente -->
  <ion-modal id="mapModal" [isOpen]="clientLogic.clientLocationComponent" (willDismiss)="closeMapModal()">
    <ng-template id="mapTemplate">
      <ion-toolbar class="fondoLila">
        <ion-grid>
          <ion-row>
            <ion-col size="1" size-sm="1" size-xs="2">
              <a (click)="closeMapModal()">
                <img class="fechaAtras" alt="" src="../../../assets/images/flecha-blanca.png" />
              </a>
            </ion-col>
            <ion-col size="9" size-sm="9" size-xs="6">
              <h1 class="tituloModulos" *ngIf="!this.rolTransportista">{{this.getTag('VIS_NOMBRE_MODULO')}}</h1>
              <h1 class="tituloModulos" *ngIf="this.rolTransportista">{{this.getTag('VIS_NOMBRE_MODULO_DESPACHOS')}}
              </h1>
            </ion-col>
            <ion-col size="1" size-sm="1" size-xs="2" *ngIf="!viewOnly">
            </ion-col>
            <ion-col size="1" size-sm="1" size-xs="2" *ngIf="!viewOnly">
              <ion-button class="imagenEnviar" (click)="saveLocationButton()"
                [disabled]="clientLogic.cannotSendClientCoordinate" expand="block" fill="clear">
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-toolbar>
      <app-client-location *ngIf="clientLogic.clientLocationComponent"></app-client-location>
    </ng-template>
  </ion-modal>



  <!-- alerta de salvar o salir-->
  <ion-alert id="alertSaveOrExit" [isOpen]="saveOrExitOpen" header={{headerSave}} [buttons]="buttonsSalvar"
    (didDismiss)="setsaveOrExitOpen(false)"></ion-alert>

  <!-- alerta de confirmacion de envio -->
  <ion-alert id="alertConfirmSendModal" [isOpen]='alertConfirmSend' header={{headerConfirm}} message={{mensajeConfirm}}
    [buttons]="buttonsConfirmExit" (didDismiss)="setConfirmSend(false)"></ion-alert>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="this.rolTransportista">
    <ion-fab-button>
      <!-- <ion-icon name="document-text"></ion-icon> -->
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="visitServ.getListFilesPremiumDispatch()">
        <ion-icon name="document" color="light"></ion-icon>
      </ion-fab-button>
      <!--     <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>

  <app-pdf-modal [isOpen]="visitServ.showPdfList" [pdfList]="visitServ.pdfList" [getTag]="getTag.bind(this)"
    [openPdf]="visitServ.openPdf.bind(visitServ)" [close]="visitServ.closePdfList.bind(visitServ)">
  </app-pdf-modal>

  <ion-modal [isOpen]="showReagendarModal" (didDismiss)="showReagendarModal = false">
    <ng-template>
      <ion-header>
        <ion-toolbar class="fondoLila">
          <ion-grid>
            <ion-row>
              <ion-col size="1" size-sm="1" size-xs="2">
                <a (click)="showReagendarModal = false">
                  <img class="fechaAtras" alt="" src="../../../assets/images/flecha-blanca.png" />
                </a>
              </ion-col>
              <ion-col size="11" size-sm="11" size-xs="10">
                <h1 class="tituloModulos">{{getTag('VIS_NOMBRE_MODULO_DESPACHOS')}}</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!-- <ion-label position="stacked" class="label-fecha">Seleccione fecha para reagendar</ion-label> -->
          <h1 class="titulo-reagendar">Seleccione fecha para reagendar</h1>
          <ion-datetime class="full-width-datetime" [(ngModel)]="fechaReagendo" presentation="date"
            [min]="fechaMinimaReagendo" required>
          </ion-datetime>
          <ion-item>
            <ion-input label="Motivo" [(ngModel)]="motivoReagendo" placeholder="Ingrese el motivo"
              [ngClass]="{'input-rojo': !motivoReagendo, 'input-verde': motivoReagendo}" class="customInput"
              label-placement="floating" fill="outline" color="primary" required>
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-footer class="footer-separado">
          <ion-row>
            <ion-col size="6" size-sm="6" size-xs="6">
              <ion-button expand="block" color="light" size="small" (click)="closeReagendarModal()">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6" size-sm="6" size-xs="6">
              <ion-button class="botonAddLila" size="small" expand="block"
                [disabled]="!fechaReagendo || !motivoReagendo" (click)="sendMessageConfirmReagenda()">
                Confirmar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>