.fondoAmarillo {
    background: #daab19 !important;
    /* Usa tu color amarillo corporativo */
    --background: #daab19 !important;
    color: #fff !important;
}

.tituloModulos {
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0px;
    font-size: 26px;
    padding-top: 10px;
    text-transform: capitalize !important;
}