<div class="resumen-inventario-container">
  @if(canManageRows()) {
  @if(inventoryRows.length > 0) {
  <div class="inventory-actions">
    <ion-button size="small" color="danger" fill="outline" [disabled]="selectedRowsCount === 0"
      (click)="deleteSelectedRows()">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Eliminar seleccionados ({{selectedRowsCount}})
    </ion-button>
  </div>
  }
  }
  <div class="inventory-table-wrapper" *ngIf="inventoryRows.length > 0">
    <table class="inventory-table">
      <thead>
        <tr>
          @if(canManageRows()) {
          <th class="col-sel">Sel</th>
          }
          <th>{{this.inventariosLogicService.inventarioTags.get('INV_CODIGO') || 'Codigo'}}</th>
          <th>Producto</th>
          <th>Exhibicion</th>
          <th>Deposito</th>
          @if(canManageRows()) {
          <th class="col-action">Accion</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of inventoryRows; track row.rowId) {
        <tr>
          @if(canManageRows()) {
          <td class="col-sel">
            <ion-checkbox [(ngModel)]="row.selected"></ion-checkbox>
          </td>
          }
          <td>{{row.coProduct}}</td>
          <td>{{row.naProduct}}</td>
          <td class="inventory-type-cell">
            @if (row.exhEntries.length > 0) {
            @for (entry of row.exhEntries; track $index) {
            <div class="inventory-entry-line">{{entry}}</div>
            }
            } @else {
            -
            }
          </td>
          <td class="inventory-type-cell">
            @if (row.depEntries.length > 0) {
            @for (entry of row.depEntries; track $index) {
            <div class="inventory-entry-line">{{entry}}</div>
            }
            } @else {
            -
            }
          </td>
          @if(canManageRows()) {
          <td class="col-action">
            <ion-button fill="clear" color="danger" (click)="deleteClientStockRow(row.rowId)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>

  <ion-list *ngIf="inventoryRows.length == 0">
    <ion-item>
      <ion-label>{{this.inventariosLogicService.inventarioTags.get('INV_ACTIVIDADES_NOSTOCKDETAIL')}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-col size="6" size-sm="6" size-xs="12" offset-sm="3">
    <ion-button class="botonAddAmarillo" expand="block" (click)="preguntarSugerirPedido()"
      *ngIf="clientStocksTotal.length > 0">{{this.inventariosLogicService.inventarioTags.get('INV_PED_SUG')}}</ion-button>
  </ion-col>



  <!-- <ion-button (click)="imprimir()"></ion-button> -->

</div>
