<ion-grid>
  <ion-row>
    <!-- EMPRESA -->
    <ion-col size="12" size-sm="12" size-xs="12">
      <ion-label>{{this.depositService.depositTags.get('DEP_EMPRESA')}}:</ion-label>
      <div class="listado-enterprise-selector ion-text-center">
        <ion-select class="ion-text-center always-flip" interface="popover" labelPlacement="stacked"
          [(ngModel)]="this.depositService.enterpriseSelected" (ionChange)="onEnterpriseSelect()"
          disabled="{{this.depositService.disabledEnterprise}}">
          <ion-select-option *ngFor="let emp of this.depositService.enterpriseList" [value]="emp">
            {{ emp.lbEnterprise }}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-col>

    <!-- FECHA DEPOSITO -->
    <ion-col size="12" size-sm="12" size-xs="12">
      <ion-item>
        <ion-label>{{this.depositService.depositTags.get('DEP_FECHA_DEP')}}</ion-label>
        <a>
          <ion-button color="light" disabled="true" class="letrasFechasButton">
            {{dateServ.formatComplete(this.depositService.dateDeposit)}}
          </ion-button>
        </a>
      </ion-item>
    </ion-col>

    <!-- MONEDA -->
    <ion-col size="12" size-sm="12" size-xs="12">
      <ion-label>
        {{this.depositService.depositTags.get('DEP_MONEDA')}}:
      </ion-label>
      <div class="listado-enterprise-selector ion-text-center">
        <ion-select class="ion-text-center always-flip" interface="popover" labelPlacement="stacked"
          [(ngModel)]="this.depositService.currencySelected" disabled="{{this.depositService.disabledCurrency}}"
          (ionChange)="changeCurrencyMsj($event)">
          <ion-select-option *ngFor="let currency of this.depositService.currencyList"
            [value]="currency">{{currency.coCurrency}}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-col>

    <!-- BANCO -->
    <ion-col size="12" size-sm="12" size-xs="12">
      <ion-label>
        {{this.depositService.depositTags.get('DEP_BANCO')}}:
      </ion-label>
      <div class="listado-enterprise-selector ion-text-center">
        <!-- <ion-select class="ion-text-center always-flip" [(ngModel)]="this.depositService.currencySelected"
          (ionChange)="onChangeCurrencyMsj($event)" disabled="{{this.depositService.disabledCurrency}}"> -->
        <ion-select class="ion-text-center always-flip selectbanco" interface="popover" labelPlacement="stacked"
          placeholder="{{this.depositService.depositTags.get('DEP_PLACEHOLDER_LISTBANK')}}" (ionChange)="onBankSelect()"
          [(ngModel)]="this.depositService.bankSelected" [disabled]="this.depositService.hideDeposit">
          <ion-select-option *ngFor="let bank of this.depositService.bankList" [value]="bank">
            {{bank.nameBank}} - *** {{bank.nuAccount.substring(13)}}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-col>

    <!-- BANCO -->
    <ion-col size="12" size-sm="12" size-xs="12" *ngIf="this.depositService.isSelectedBank">
      <ion-input label="{{this.depositService.depositTags.get('DEP_BANCO')}}:" label-placement="floating" fill="outline"
        value="{{this.depositService.bankSelected.nuAccount}}" type="text" [readonly]="true"
        [disabled]="this.depositService.hideDeposit">
      </ion-input>
    </ion-col>

    <!-- NRO PLANTITTA -->
    <ion-col size="12" size-sm="12" size-xs="12">
      <ion-input label="{{this.depositService.depositTags.get('DEP_NRO_PLANTILLA')}}:"
        [(ngModel)]="this.depositService.nuDocument" label-placement="floating" fill="outline"
        value="this.depositService.nuDocument" type="text" (ionInput)="onNuDocumentInput()"
        [disabled]="this.depositService.hideDeposit" #inputNuDocument>
      </ion-input>
    </ion-col>

    <!-- FECHA DOC -->
    <ion-col size="12" size-sm="12" size-xs="12">
      <ion-item>
        <!-- <ion-label (click)="onOpenCalendar()"> -->
        <ion-label>
          {{this.depositService.depositTags.get('DEP_FECHA_DOC')}}:
        </ion-label>
        <a>
          <ion-button (click)="setShowDateModal(true)" color="light" [disabled]="this.depositService.hideDeposit"
            class="letrasFechasButton">
            {{ dateServ.formatShort(this.depositService.daDocument) }}
          </ion-button>
        </a>
      </ion-item>
    </ion-col>

    <!-- COMENTARIO -->
    <ion-col size="12" size-sm="12" size-xs="12">
      <ion-input label="{{this.depositService.depositTags.get('DEP_COMENTARIO')}}:" #inputTxComment
        [(ngModel)]="this.depositService.txComment" label-placement="floating" fill="outline"
        value="this.depositService.txComment" (ionInput)="onTxCommentInput()"
        [disabled]="this.depositService.hideDeposit">
      </ion-input>
    </ion-col>

    <!-- <ion-col size="12" size-sm="12" size-xs="12"><ion-button (click)="print()"></ion-button></ion-col> -->
  </ion-row>
</ion-grid>


<ion-modal [keepContentsMounted]="true" [isOpen]="showDateModal" (didDismiss)="setShowDateModal(false)"
  class="fechasModal">
  <ng-template>
    <ion-datetime [id]="daDocument" presentation="date" [(ngModel)]="this.depositService.daDocument"
      min="{{this.depositService.fechaMenor}}" max="{{this.depositService.fechaMayor}}" [showDefaultButtons]="true"
      (ngModelChange)="changeDaDocument()" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
  </ng-template>
</ion-modal>

<!-- alerta de envio-->
<ion-alert [isOpen]="alertMessageOpen" header="{{this.depositService.depositTags.get('DEP_HEADER_MESSAGE')}}"
  message={{this.depositService.message}} [buttons]="alertButtons" (didDismiss)="setResult($event)"></ion-alert>