<div class="produt-search fixedSearch">
  <ion-grid>
      <ion-row>
          <!-- <ion-col class="ion-margin-top" size="12" size-sm="12" size-xs="12"> -->
          <ion-col class="" size="12" size-sm="12" size-xs="12">
            <!-- Este input es cuando estoy dentro de la estructura y busco a medida que escribo -->
            <div class="search-input-wrap" *ngIf="showSearch && productStructureSelected">
              <input type="text" class="search-input inputsSearch iconobuscar" fill="outline" shape="round"
                placeholder="{{this.searchTags.get('PROD_PLACEHOLDER_BUSCAR')}}" #searchInput [(ngModel)]="searchText"
                (input)="onSearchTextChanged()" (keyup.enter)="onSearchClicked()">
              <button type="button" class="clear-search" (click)="clearSearch()" [disabled]="!searchText">
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </div>
            <!-- <input type="text" class="search-input inputsSearch" fill="outline" shape="round" placeholder="{{this.searchTags.get('PROD_PLACEHOLDER_BUSCAR')}}" #searchInput [(ngModel)]="searchText" (input)="onSearchTextChanged()" *ngIf="showSearch && productStructureSelected"> -->
            <!-- Este input es cuando estoy afuera de las estructuras y busco hacien click en buscar -->
            <div class="search-input-wrap" *ngIf="showSearch && !productStructureSelected">
              <input type="text" class="search-input inputsSearch iconobuscar" fill="outline" shape="round"
                placeholder="{{this.searchTags.get('PROD_PLACEHOLDER_BUSCAR')}}" #searchInput [(ngModel)]="searchText"
                (keyup.enter)="onSearchClicked()">
              <button type="button" class="clear-search" (click)="clearSearch()" [disabled]="!searchText">
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </div>
            <!-- <input type="text" class="search-input inputsSearch" fill="outline" shape="round" placeholder="{{this.searchTags.get('PROD_PLACEHOLDER_BUSCAR')}}" #searchInput [(ngModel)]="searchText" *ngIf="showSearch && !productStructureSelected"> -->
            <ion-button fill="outline" size="small" color="dark" shape="round" *ngIf="mostrarVolver" (click)="onReturnStructures()">
              {{this.searchTags.get('PROD_VOLVER')}}
              <ion-icon class="colorIconBuscar" slot="start" name="arrow-back-circle-sharp"></ion-icon>
            </ion-button>
            <!-- <button class="search-button buttonSearchProductos" [disabled]="!searchText" (click)="onSearchClicked()" *ngIf="showSearch && !productStructureSelected">Buscar<ion-icon name="search-outline"></ion-icon></button>
            <button class="structures-button buttonSearchProductos" *ngIf="mostrarVolver" (click)="onReturnStructures()">Buscar<ion-icon name="search-outline"></ion-icon></button> -->
            <!-- <button class="search-button buttonSearchProductos" [disabled]="!searchText" (click)="onSearchClicked()" *ngIf="showSearch && !productStructureSelected"><ion-icon name="search-outline"></ion-icon></button>
            <button class="structures-button buttonSearchProductos" *ngIf="mostrarVolver" (click)="onReturnStructures()"><ion-icon name="search-outline"></ion-icon></button> -->

          </ion-col>



      </ion-row>
  </ion-grid>
</div>
