 .inp-write{
   --border-color: #e60c0c!important;
 }

.listado-clientes-selector, .listado-enterprise-selector, .listado-tps-selector {
    height: 40px;
}
.product-devolucion-scroll {
    height: calc(120vh - 200px)!important;
}