<div class="deposit-list">
  <ion-searchbar class="lupamorada" show-clear-button="always" search-icon="search-circle" clear-icon="trash-bin"
    placeholder="Depósitos..." (ionInput)="handleInput($event)"></ion-searchbar>
  <div class="collect-card">
    <ion-row>
      <ion-col class="" size="12" size-sm="12" size-xs="12">
        <p *ngIf="valid">
          NO HAY DEPOSITOS
        </p>
        <ion-list *ngFor="let deposit of depositService.itemListaDepositos; index as i" button detail="false">
          <div
            *ngIf="searchText === '' || deposit.coBank.toLowerCase().includes(searchText) || deposit.daDeposit.toLowerCase().includes(searchText)">
            <ion-item button detail="false" detail="true">
              <ion-label (click)="toOpenDeposit(deposit.coDeposit, i)">
                <!-- <p *ngIf="deposit.idDeposit !=0"> -->
                <p>
                  Nro Ref: {{deposit.idDeposit}}
                </p>
                <p>
                  Banco: {{deposit.coBank}}
                </p>
                <p>
                  <!-- Estatus: {{ getStatusOrderName(collect.stCollection, collect.idCollection!) }} -->
                  {{this.depositService.depositTags.get('DEP_DEV_STATUS')}}: {{
                  getStatusOrderName(deposit.stDeposit,deposit.stDelivery, deposit.naStatus)}}

                </p>
                <p>
                  {{this.depositService.depositTags.get('DEP_DEV_DATE')}}: {{deposit.daDeposit}}
                </p>
                <p>
                  Monto {{deposit.coCurrency}}: {{deposit.nuAmountDoc}}
                </p>
              </ion-label>
              <ion-button *ngIf="deposit.stDeposit === 1" (click)="showAlertDelete(deposit,i)" color="danger">
                <ion-icon slot="icon-only" name="trash"> </ion-icon>
              </ion-button>

            </ion-item>
          </div>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content loadingText="Por favor espere..."
            loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </div>
</div>
<app-message></app-message>
<ion-alert id="alertDeleteModal" [isOpen]='alertDelete' header={{headerDelete}} message={{mensajeDelete}}
  [buttons]="buttonsDelete" (didDismiss)="setAlertDelete(false)"></ion-alert>